@using ERP.ResourcePack.Accounts
@using ERP.Web.UI.Models.ViewModels.AidModule
@model ScPortalRequestMgrDecisionVM

<div class="card" id="searchBox">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>@ArCustomers.ScPortalRequestMgrDecision</strong> -  @ApUserBankAccess.SearchForm</h2>
    </div>
    <div class="body collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">@ArCustomers.DecisionNumber</label>
                        @Html.TextBoxFor(z => z.DecisionNumer, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">@ArCustomers.FromDate</label>
                        @Html.TextBoxFor(z => z.FromStudyDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">@ArCustomers.ToDate</label>
                        @Html.TextBoxFor(z => z.ToStudyDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">@ArCustomers.Status</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.StatusLkpId, Enumerable.Empty<SelectListItem>(), new { @id = "StatusLkpIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">@ArCustomers.RequestNumber</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.PortalRequestId, Enumerable.Empty<SelectListItem>(), new { @id = "PortalRequestIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">@ArCustomers.CaseName</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.CaseNameId, Enumerable.Empty<SelectListItem>(), new { @id = "CaseNameIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-border-radius mx-2 waves-effect" onclick="return LoadDataGrid()">
                @ERP.ResourcePack.Common.Settings.BtnSearch
            </button>
            <a href="javascript:void(0)" class="btn btn-danger btn-border-radius" onclick="return clearSearchForm()" role="button" aria-haspopup="true" aria-expanded="false">
                @ERP.ResourcePack.Common.Settings.BtnClear
            </a>
        </div>
    </div>
</div>