@using ERP.ResourcePack.Common

<style>
    .fa {
        color: #ddd !important;
        margin-left: 10px;
    }

</style>
<div class="modal fade " id="audited-modal" role="dialog"
     aria-labelledby="main-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <tbody>
                                    <tr>
                                        <th> <i class="fa fa-user text-info"></i> @Settings.CreatedBy </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-clock text-info"></i> @Settings.CreationTime </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-user text-info"></i> @Settings.UpdatedBy </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-clock text-info"></i> @Settings.ModificationTime </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-user text-info"></i> @Settings.PostedBy </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-clock text-info"></i> @Settings.PostTime </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-user text-info"></i> @Settings.UnPostedBy </th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> <i class="fa fa-clock text-info"></i> @Settings.UnPostTime </th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="javascript:;" class="btn btn-danger btn-smf waves-effect" data-dismiss="modal">
                    @ERP.ResourcePack.Common.Settings.BtnClose
                </button>
            </div>
        </div>
    </div>
</div>