@using ERP.Authorization;
@using ERP.Web.UI.Controllers.SpGuarantees
@using ERP.ResourcePack.SpGuarantees
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "SpPaymentSetting"

    $(function () {
        LoadDataGrid();
        $('#SpPaymentSetting').addClass('active');

    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(SpPaymentSettingController.LoadDataGrid)`;
    const _tblSelector = $('#tblSpPaymentSetting');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_SpPaymentSetting_Update';
    const _deletePermission = '@PermissionNames.Pages_SpPaymentSetting_Delete';

    var OnBegin = function (response) {
      fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
            toastr.error(response.customRestResult.message);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            FromDate: $('#FromDateSearch').val(),
            ToDate: $('#ToDateSearch').val(),
            SponsorCategoryLkpId: $('#SponsorCategoryLkpIdSearch').find(':selected').val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "SponsorCategoryLkpId",
                "name": "SponsorCategoryLkpId",
                "autoWidth": true,
                'render': function (d,t,row) {
                    return lang === 'ar-EG' ? row.FndSponsorCategoryLkp.NameAr : row.FndSponsorCategoryLkp.NameEn;
                }
            },
            {
                "data": "ManagementPercentage",
                "name": "ManagementPercentage",
                "autoWidth": true
            },
            {
                "data": "FromDate",
                "name": "FromDate",
                "autoWidth": true
            },
            {
                "data": "ToDate",
                "name": "ToDate",
                "autoWidth": true
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    const formAction = `${$PrefixHostName}/${_mainController}/@nameof(SpPaymentSettingController.SpPaymentSettingForm)`;
                    const DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(SpPaymentSettingController.Delete)`;

                    let formTitle = '@SpPaymentSetting.Title', btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_SpPaymentSetting_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () {}
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });

    };

    $('#searchBox #SponsorCategoryLkpIdSearch').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.SponsorCategory.ToString()'));

</script>
