@using ERP.Web.UI.Models.ViewModels.AidModule
@model ScPortalRequestMgrDecisionVM

<div class="card" style="display:@( ViewBag.trigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-6">
                @Html.LabelFor(z => z.ElectronicTypeLkpId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.ElectronicTypeLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.ElectronicAmount, new { @class = "form-control", @type = "number", @min = 0 })
                        @Html.LabelFor(z => z.ElectronicAmount, new { @class = "form-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12 text-center">
                <div class="form-group">
                    <button id="btnAddElectronicAidRow" onclick="return AddElectronicAid()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateElectronicAidRow" onclick="return UpdateElectronicAidRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelElectronicAidRow" onclick="ClearElectronicAidForm(); $('#btnCancelElectronicAidRow').hide();$('#btnUpdateElectronicAidRow').hide();$('#btnAddElectronicAidRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
