@using ERP.ResourcePack.SpGuarantees
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="tblSpPaymentsPersonDetails" style="width:100%">
                <thead>
                    <tr>
                        <th><i class="fas fa-hashtag"></i></th>
                        <th>@SpPayments.Period</th>
                        <th>@ERP.ResourcePack.Common.Settings.FromDate</th>
                        <th>@ERP.ResourcePack.Common.Settings.ToDate</th>
                        <th>@SpPayments.StatusLkpId</th>
                        <th>@SpPayments.Amount</th>
                        <th>@SpPayments.SpCaseId</th>
                        <th>@SpPayments.ContractStartDate</th>
                        <th>@SpPayments.ContractEndDate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>