@using ERP.ResourcePack.SpGuarantees
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="tblSpPaymentsPerson" style="width:100%">
                <thead>
                    <tr>
                        <th><i class="fas fa-hashtag"></i></th>
                        <th>@SpPayments.CaseNumber</th>
                        <th>@SpPayments.SpCaseId</th>
                        <th>@SpPayments.SponsorCategoryLkpId</th>
                        <th>@SpPayments.CaseStatusLkpId</th>
                        <th>@SpPayments.Amount</th>
                        <th><i class="fas fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>