@using ERP.Authorization;
@using ERP.Web.UI.Controllers.AidModule
@using ERP.ResourcePack.AidModule
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "ScFndPortalIntervalSetting"

    $(function () {
        LoadDataGrid();
        $('#ScFndPortalIntervalSetting').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(ScFndPortalIntervalSettingController.LoadDataGrid)`;
    const _tblSelector = $('#tblScFndPortalIntervalSetting');
    const _tblSelectorbody = $('#tblScFndPortalIntervalSetting tbody');
    const _tblLoader = $('#tblLoader');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_ScFndPortalIntervalSetting_Update';
    const _deletePermission = '@PermissionNames.Pages_ScFndPortalIntervalSetting_Delete';

    var OnBegin = function (response) {
              fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                if (response.result.dateRangeValidation) {
                    toastr.warning('@ERP.ResourcePack.AidModule.ScFndPortalIntervalSetting.DateRangeConflict');

                } else {
                    toastr.success(response.customRestResult.message);

                    LoadDataGrid();

                    _mainModal.modal('hide');
                };

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                if (response.result.dateRangeValidation) {
                    toastr.warning('@ERP.ResourcePack.AidModule.ScFndPortalIntervalSetting.DateRangeConflict');
                } else {
                    toastr.success(response.customRestResult.message);

                    LoadDataGrid();

                    _mainModal.modal('hide');
                }
            }
        }
        else {
            toastr.error(response.customRestResult.message);
        }
    };

    var OnComplete = function (response) {
      downBtnLoader();
    };

    var OnFailure = function (response) {
            toastr.error(response);
            downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            FromDate: $('#searchBox #FromDate').val(),
            ToDate: $('#searchBox #ToDate').val(),
            NumberOfRequest: $('#searchBox #NumberOfRequest').val()
        };

        $('#dataCollapse').show();
        $('#tblLoader').show();

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "FromDate",
                "name": "FromDate",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return `${row.FromDate} ${row.FromTime}`;
                }
            },
            {
                "data": "ToDate",
                "name": "ToDate",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return `${row.ToDate} ${row.ToTime}`;
                }
            },
            {
                "data": "NumberOfRequest",
                "data": "NumberOfRequest",
                "autoWidth": true,
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(ScFndPortalIntervalSettingController.ScFndPortalIntervalSettingForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(ScFndPortalIntervalSettingController.Delete)`;

                    let formTitle = '@ScFndPortalIntervalSetting.Title', btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_ScFndPortalIntervalSetting_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });
    };

   const validateDateFilter = function () {

       if (Date.parse($('#FromDate').val()) > Date.parse($('#ToDate').val())) {

            toastr.warning('@ERP.ResourcePack.Common.Settings.DateValidation');

            $('#FromDate').val('');
            $('#ToDate').val('');
        };
   };

</script>
