@using ERP.ResourcePack.SpGuarantees
<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="">
                        <div class="table-responsive">
                            <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblSpCaseOperations">
                                <thead>
                                    <tr>
                                        <th><i class="fas fa-hashtag"></i></th>
                                        <th>@SpCaseOperations.ContractNumber</th>
                                        <th>@SpCaseOperations.BeneficentNumber</th>
                                        <th>@SpCaseOperations.BeneficentName</th>
                                        <th>@SpCaseOperations.CaseName</th>
                                        <th>@SpCaseOperations.CaseNumber</th>
                                        <th>@SpCaseOperations.SponsorLkpNameAr</th>
                                        <th>@SpCaseOperations.ContractDate</th>
                                        <th class="all"><i class="fas fa-cog"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
