@using ERP.Web.UI.Controllers.Accounts
@using ERP.ResourcePack.Accounts
@{
    string insertTrigger = ERP.Front.Helpers.Enums.Common.FormTriggers.Insert.ToString();
    string formAction = $"{System.Configuration.ConfigurationManager.AppSettings["PrefixHostName"].ToString()}/ArSecurityDepositInterface/{nameof(ArSecurityDepositInterfaceController.ArSecurityDepositInterfaceForm)}";
}

<div class="row no-gutters clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header d-flex justify-content-start align-items-center">
                <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#dataCollapse"></i>
                <h2> <strong>@ArSecurityDepositInterface.Title</strong>  - @ERP.ResourcePack.Common.Settings.Data </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <button onclick="printExc();" class="btn btn-border-radius btn-success m-l-45 m-r-15 mr-auto waves-effect width-per-0">@ERP.ResourcePack.Common.Settings.excel</button>
                    </li>
                </ul>
            </div>
           
                    <div class="body collapse show" id="dataCollapse">
                        <div class="table-responsive">
                            <div id="tblLoader" style="display:none">
                                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                            <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblArSecurityDepositInterface">
                                <thead>
                                    <tr>
                                        <th><i class="fas fa-hashtag"></i></th>
                                        <th>@ArSecurityDepositInterface.SecurityDepositInterfaceNumber</th>
                                        <th>@ArSecurityDepositInterface.SourceCodeLkpId</th>
                                        <th>@ArSecurityDepositInterface.SourceNumber</th>
                                        <th>@ArSecurityDepositInterface.InsuranceDate</th>
                                        <th>@ArSecurityDepositInterface.CustomerNumber</th>
                                        <th>@ArSecurityDepositInterface.ArCustomerId</th>
                                        <th>@ArSecurityDepositInterface.Amount</th>
                                        <th class="all"><i class="fas fa-cogs"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="d-none">
                                <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100 d-none" id="tblArSecurityDepositInterfacePrint">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>