@using ERP.Authorization;
@using ERP.Web.UI.Controllers.Accounts
@using ERP.ResourcePack.AccountsExtend
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "ApVendors"

    $(function () {
        LoadDataGrid();
        $('#tblApVendorsPrint thead').html($('#tblApVendors thead').html());
        $('#tblApVendorsPrint thead tr :last-child').remove();
        $('#ApVendors').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(ApVendorsController.LoadDataGrid)`;
    const _tblSelector = $('#tblApVendors');
    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_ApVendors_Update';
    const _deletePermission = '@PermissionNames.Pages_ApVendors_Delete';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
            toastr.error(response.customRestResult.message);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        console.log(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            VendorNumber: $('#searchBox #VendorNumber').val(),
            VendorNameAr: $('#searchBox #VendorNameAr').val(),
            VendorNameEn: $('#searchBox #VendorNameEn').val(),
            StatusLkpId: $('#searchBox #StatusLkpIdSearch').find(':selected').val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "VendorNumber",
                "name": "VendorNumber",
                "autoWidth": true
            },
            {
                "data": "VendorNameAr",
                "name": "VendorNameAr",
                "autoWidth": true
            },
            {
                "data": "VendorNameEn",
                "name": "VendorNameEn",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "StatusLkpId",
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.FndStatusLkp) return "";

                    if (lang === 'ar-EG') return row.FndStatusLkp.NameAr;

                    return row.FndStatusLkp.NameEn;
                }
            },
            {
                "data": null,
                "name": "VendorCategoryLkpId",
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.FndVendorCategoryLkp) return "";

                    if (lang === 'ar-EG') return row.FndVendorCategoryLkp.NameAr;

                    return row.FndVendorCategoryLkp.NameEn;
                }
            },
            {
                "data": "Address",
                "name": "Address",
                "autoWidth": true
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(ApVendorsController.ApVendorsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(ApVendorsController.Delete)`;

                    let formTitle = '@ApVendors.Title';
                    let btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_ApVendors_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () {}
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });
    };

    $('#searchBox #StatusLkpIdSearch').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.ApVendorsStatues.ToString()'));

    function printExc() {
        $('.page-loader-wrapper').show();
        const parmss = {
            VendorNumber: $('#searchBox #VendorNumber').val(),
            VendorNameAr: $('#searchBox #VendorNameAr').val(),
            VendorNameEn: $('#searchBox #VendorNameEn').val(),
            StatusLkpId: $('#searchBox #StatusLkpIdSearch').find(':selected').val(),
            length: 1000000
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "VendorNumber",
                "name": "VendorNumber",
                "autoWidth": true
            },
            {
                "data": "VendorNameAr",
                "name": "VendorNameAr",
                "autoWidth": true
            },
            {
                "data": "VendorNameEn",
                "name": "VendorNameEn",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "StatusLkpId",
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.FndStatusLkp) return "";

                    if (lang === 'ar-EG') return row.FndStatusLkp.NameAr;

                    return row.FndStatusLkp.NameEn;
                }
            },
            {
                "data": null,
                "name": "VendorCategoryLkpId",
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.FndVendorCategoryLkp) return "";

                    if (lang === 'ar-EG') return row.FndVendorCategoryLkp.NameAr;

                    return row.FndVendorCategoryLkp.NameEn;
                }
            },
            {
                "data": "Address",
                "name": "Address",
                "autoWidth": true
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('#VendorNumber').siblings().text()}: ${(parmss.VendorNumber) ? parmss.VendorNumber : '--'}, ${$('#VendorNameAr').siblings().text()}: ${(parmss.VendorNameAr) ? parmss.VendorNameAr : '--'}, ${$('#VendorNameEn').siblings().text()}: ${(parmss.VendorNameEn) ? parmss.VendorNameEn : '--'}, ${$('[for="StatusLkpId"]').text()}: ${(parmss.StatusLkpId) ? parmss.StatusLkpId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblApVendorsPrint_wrapper button.dt-button').click();
            }
        };

        $('#tblApVendorsPrint').dataTable().fnDestroy();
        $('#tblApVendorsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>
