@using ERP.Web.UI.Models.ViewModels.CharityBoxes
@model TmCharityBoxCollectVM
@{
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}
<div class="card" style="display:@(formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.MemberNumber, new { @class = "form-control", @disabled = true })
                        @Html.LabelFor(z => z.MemberNumber, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(z => z.TmCharityBoxCollectMemberId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.TmCharityBoxCollectMemberId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.MemberCategory, new { @class = "form-control", @disabled = true })
                        @Html.LabelFor(z => z.MemberCategory, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group m-2">
                    <button id="btnAddDetailMemberRow" onclick="return AddTmCharityBoxCollectMember()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateDetailMemberRow" onclick="return UpdateTmCharityBoxCollectMemberRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelDetailMemberRow" onclick="clearFormMemberAdding(); $('#btnCancelDetailMemberRow').hide();$('#btnUpdateDetailMemberRow').hide();$('#btnAddDetailMemberRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
