@using ERP.Web.UI.Models.ViewModels.Warehouses
@using ERP.Web.UI.Models.ViewModels.General
@model IvReturnReceiveHdVM
@{
    ViewBag.Title = ERP.ResourcePack.Warehouses.IvReturnReceiveHd.Title;
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    string lkpKeyDdl = lang == "ar-EG" ? nameof(FndLookupValuesVM.NameAr) : nameof(FndLookupValuesVM.NameEn);
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}

<div class="card">
    <div class="body">
        <div class="header">
            <h2><strong>@ERP.ResourcePack.Accounts.GlJeHeaders.MasterData</strong></h2>
        </div>

        @using (Ajax.BeginForm(nameof(ERP.Web.UI.Controllers.Warehouses.IvReturnReceiveHdController.PostIvReturnReceiveHd), "IvReturnReceiveHd", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnComplete = "OnComplete", OnFailure = "OnFailure" }, new { @id = "mainForm" }))
        {
            @Html.HiddenFor(z => z.Id)
            @Html.HiddenFor(z => z.ReturnReceiveDetailsListStr)
            @Html.HiddenFor(x => x.ReturnCurrencyRate)
            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.IvReturnReceiveNumber, getHtmlAttributes(true, "form-control", string.Empty))
                            @Html.LabelFor(z => z.IvReturnReceiveNumber, new { @class = "form-label" })
                        </div>
                    </div>
                    @*@Html.ValidationMessageFor(z => z.IvSaleNumber)*@
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.IvReturnReceiveDate, getHtmlAttributes(isFormDetail, "form-control datepicker", string.Empty))
                            @Html.LabelFor(z => z.IvReturnReceiveDate, new { @class = "form-label label-required" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(z => z.IvReturnReceiveDate)
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @if (Model == null || Model.FndLookupStatusLkp == null)
                            {
                                @Html.TextBoxFor(z => z.Status, getHtmlAttributes(true, "form-control", string.Empty))
                                @Html.LabelFor(z => z.StatusLkpId, new { @class = "form-label" })
                            }
                            else if (lang == "ar-EG")
                            {
                                @Html.TextBoxFor(z => z.FndLookupStatusLkp.NameAr, getHtmlAttributes(true, "form-control", string.Empty))
                                @Html.LabelFor(z => z.StatusLkpId, new { @class = "form-label" })
                            }
                            else
                            {
                                @Html.TextBoxFor(z => z.FndLookupStatusLkp.NameEn, getHtmlAttributes(true, "form-control", string.Empty))
                                @Html.LabelFor(z => z.StatusLkpId, new { @class = "form-label" })

                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-sm-4">
                    @Html.LabelFor(z => z.IvReceiveHdId, new { @class = "form-label label-required" })
                    <div class="form-group form-float">
                        <div class="form-line">
                            @if (Model != null && Model.IvReceiveHdId != null)
                            {
                                var list = new List<ERP.Web.UI.Models.ViewModels.General.FndLookupValuesVM> { new ERP.Web.UI.Models.ViewModels.General.FndLookupValuesVM { Id = Model.IvReceiveHdId, NameAr = Model.IvReceiveHd.HdReceiveNumber, NameEn = Model.IvReceiveHd.HdReceiveNumber } };

                                var selectList = new SelectList(list, "Id", lkpKeyDdl, Model.IvReceiveHdId);

                                @Html.DropDownListFor(z => z.IvReceiveHdId, selectList, getHtmlAttributes(isFormDetail, "form-control", string.Empty))
                            }
                            else
                            {
                                @Html.DropDownListFor(z => z.IvReceiveHdId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                            }

                            @Html.ValidationMessageFor(z => z.IvReceiveHdId)
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.VendorNumber, getHtmlAttributes(true, "form-control", string.Empty))
                            @Html.LabelFor(z => z.VendorNumber, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.VendorName, getHtmlAttributes(true, "form-control", string.Empty))
                            @Html.LabelFor(z => z.VendorName, new { @class = "form-label" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.IvWarehouseName, getHtmlAttributes(true, "form-control", string.Empty))
                            @Html.LabelFor(z => z.IvWarehouseName, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(z => z.CurrencyId, new { @class = "form-label label-required" })
                    <div class="form-group form-float">
                        <div class="form-line">
                            @if (Model != null && Model.CurrencyId != null)
                            {
                                var list = new List<ERP.Web.UI.Models.ViewModels.General.FndLookupValuesVM> { new ERP.Web.UI.Models.ViewModels.General.FndLookupValuesVM { Id = Model.CurrencyId, NameAr = Model.Currency.DescriptionAr, NameEn = Model.Currency.DescriptionEn } };

                                var selectList = new SelectList(list, "Id", lkpKeyDdl, Model.CurrencyId);
                                @Html.DropDownListFor(z => z.CurrencyId, selectList, getHtmlAttributes(isFormDetail, "form-control", string.Empty))
                            }
                            else
                            {
                                @Html.DropDownListFor(z => z.CurrencyId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                            }

                            @Html.ValidationMessageFor(z => z.CurrencyId)
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.CurrencyRate, getHtmlAttributes(true, "form-control", string.Empty))
                            @Html.LabelFor(z => z.CurrencyRate, new { @class = "form-label" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(z => z.CurrencyRate)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextAreaFor(z => z.Comments, getHtmlAttributes(isFormDetail, "form-control", string.Empty))
                            @Html.LabelFor(z => z.Comments, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <h2><strong>@ERP.ResourcePack.Warehouses.IvReturnReceiveHd.ReturnReceiveDetails</strong></h2>
            </div>


        }

    </div>
</div>

@functions {
    object getHtmlAttributes(bool Disabled, string CssClass, string CssClass2)
    {
        if (Disabled)
        {
            return new { @class = CssClass, Disabled = Disabled };
        }
        return new { @class = $"{CssClass} {CssClass2}" };
    }
}

