@using ERP.ResourcePack.CharityBoxes
@using ERP.Web.UI.Models.ViewModels.CharityBoxes
@model TmCharityBoxesVM

<div class="card" id="searchBox">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>@TmCharityBoxes.Title</strong> -  @TmCharityBoxes.SearchForm</h2>
    </div>
    <div class="body collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-4">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(z => z.CharityBoxName, new { @class = "form-control" })
                    @Html.LabelFor(z => z.CharityBoxName, new { @class = "form-label" })
                </div>
            </div>
        </div>
            @*<div class="col-sm-4">
                @Html.LabelFor(z => z.CharityBoxName, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.CharityBoxName, Enumerable.Empty<SelectListItem>())
                    </div>
                </div>
            </div>*@
            <div class="col-sm-4">
                @Html.LabelFor(z => z.CharityTypeId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.CharityTypeId, Enumerable.Empty<SelectListItem>(), new { @id = "CharityTypeIdSearch", name = "CharityTypeIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.CharityBoxBarcode, new { @class = "form-control" })
                        @Html.LabelFor(z => z.CharityBoxBarcode, new { @class = "form-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-4">
                @Html.LabelFor(z => z.StatusLkpId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.StatusLkpId, Enumerable.Empty<SelectListItem>(), new { @id = "StatusLkpIdSearch", name = "StatusLkpIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>
            @*<div class="col-sm-4">
                @Html.LabelFor(z => z.CharityTypeId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.CharityTypeId, Enumerable.Empty<SelectListItem>(), new { @id = "CharityTypeIdSearch", name = "CharityTypeIdSearch", @class = "form-control" })
                    </div>
                </div>
            </div>*@
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-border-radius mx-2 waves-effect" onclick="return LoadDataGrid()">
                @ERP.ResourcePack.Common.Settings.BtnSearch
            </button>
            <a href="javascript:void(0)" class="btn btn-danger btn-border-radius" onclick="return clearSearchForm()" role="button" aria-haspopup="true" aria-expanded="false">
                @ERP.ResourcePack.Common.Settings.BtnClear
            </a>
        </div>
    </div>
</div>