
@{
    Layout = null;
    string currentLang = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="@currentLang">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>ERP - @ERP.ResourcePack.Common.Settings.ForgetPassword</title>

    @*<link rel="icon" href="~/AssetsPack/assets/images/favicon.ico" type="image/x-icon">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    @if (currentLang == "ar-EG")
    {
        <style>

            body, .sidebar, .btn:not(.btn-link):not(.btn-circle) {
                font-family: 'Cairo', sans-serif !important;
            }

            .b-left {
                border-left: none;
                border-right: 1px solid rgba(0, 0, 0, .1) !important;
            }

            .main-box {
                text-align: right;
                direction: rtl;
            }

            hr {
                margin-left: -24px;
                margin-right: -33px;
            }

            .custom-control {
                padding-left: 0;
                padding-right: 1.5rem;
            }

            .custom-control-label::after, .custom-control-label::before {
                right: -1.5rem;
                left: unset;
            }
        </style>
    }
    <link href="~/AssetsPack/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/AssetsPack/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/AssetsPack/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/Select2Lang.js"></script>
    <script src="~/Scripts/dataTableLang.js"></script>


</head>
<body class="login-page">
    <div class="pattern"></div>
    <div class="slideshow">
        <div class="slider">
            <div class="item">
                <img src="~/AssetsPack/assets/images/slide-2.jpg" />
            </div>
            <div class="item">
                <img src="~/AssetsPack/assets/images/slide-2.jpg" />
            </div>
            <div class="item">
                <img src="~/AssetsPack/assets/images/slide-2.jpg" />
            </div>
            <div class="item">
                <img src="~/AssetsPack/assets/images/slide-2.jpg" />
            </div>
        </div>
    </div>

    <div class="vh-100 d-flex container">
        <div class="main-box m-auto">
            <div class="row">
                <div class="col-md-5">
                    <div class="p-2" style="margin-top:5rem">
                        <img class="img-fluid" alt="" src="~/AssetsPack/SystemLogos/logo Final.png">
                        <hr />
                    </div>
                    <div class="p-4 text-center">
                        <a href="@Url.Action("ChangeLanguage", "Login",new { area = string.Empty })" class="btn btn-outline-primary">
                            @ERP.ResourcePack.Common.Settings.Lang
                        </a>
                    </div>
                </div>
                <div class="col-md-7 b-left">
                    <div id="emailMsg"></div>
                    @if (TempData["FailedMessage"] != null && TempData["FailedMessage"].ToString() != string.Empty)
                    {
                        <p class="alert alert-danger text-center">
                            @TempData["FailedMessage"].ToString()
                        </p>
                    }


                <form class="validate-form second_form">
                    <h1>@ERP.ResourcePack.Common.Settings.ForgetPassword</h1>
                    <p>@ERP.ResourcePack.Common.Settings.ForgetPasswordHint</p>

                    <input type="text" class="form-control" hidden id="token" />
                    <input type="text" class="form-control" hidden id="baseurl" />
                    <input type="email" class="form-control" hidden id="email" />
                    <input type="text" class="form-control" hidden id="tenantId" />

                    <div class="form-group validate-input" data-validate="Enter new password">
                        <input type="password" class="form-control" id="newPassword" placeholder="@ERP.ResourcePack.Common.Settings.Password" />
                    </div>
                    <div class="form-group validate-input" data-validate="Confirm password">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="@ERP.ResourcePack.Common.Settings.Password" />
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success send">@ERP.ResourcePack.Common.Settings.Send</button>
                    </div>
                </form>



                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">


        $(document).ready(function () {

            $('.slider').slick({
                draggable: false,
                arrows: false,
                dots: false,
                fade: true,
                autoplay: true,
                autoplaySpeed: 8000,
                speed: 900,
                infinite: true,
            });
            setTimeout(function () {
                $('.slider').slick('slickGoTo', 1);
            }, 1000);

            let params = new URLSearchParams(location.search);




            $('#token').val(params.get('ResetToken'));
            $('#tenantId').val(params.get('TenantId'));
            $('#email').val(params.get('Email'));

            $('.second_form .send').on('click', function (e) {
                e.preventDefault();

                let formData = {
                    newPassword:$('#newPassword').val(),
                    resetToken:$('#token').val(),
                    tenantId:($('#tenantId').val() ? $('#tenantId').val() : 0),
                    email: $('#email').val(),
                    baseurl: origin
                }

                if ($('#newPassword').val() != $('#confirmPassword').val()) {
                    $('#confirmPassword').addClass('is-invalid');
                } else {
                    $('#confirmPassword').removeClass('is-invalid');
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json',
                        url: `${baseUrl}/User/PostForgetPassword`,
                        data: JSON.stringify(formData),
                        success: function(msg){
                            $('#emailMsg').html('<div class="alert alert-success alert-dismissible fade show" role="alert">@ERP.ResourcePack.Common.Settings.PasswordChangedSuccessfully<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                            $('#second_form').addClass('d-none');
                            setTimeout(function(){ window.location.href = window.location.origin; }, 2000);
                        },
                        error: function (err) {

                            if (err == null)
                                $('#emailMsg').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">@ERP.ResourcePack.Common.Settings.SomthingWrong<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')

                            if (err.responseJSON.error.message != null) {
                                var htmltxt = `<div class="alert alert-danger alert-dismissible fade show" role="alert">${err.responseJSON.error.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`;
                                $('#emailMsg').html(htmltxt);
                            }                        }
                    });

                }


            });



        });
    </script>
    @Html.Partial("~/ViewsScripts/CommonScripts.cshtml")
    @Html.Partial("~/ViewsScripts/AjaxControllerScript.cshtml")
    <script src="~/AssetsPack/assets/js/app.min.js"></script>
    <script src="~/AssetsPack/assets/js/pages/examples/pages.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
