@using ERP.Authorization;
@using ERP.Web.UI.Controllers.Accounts
@using ERP.ResourcePack.Accounts
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "FndCollectors"

    $(function () {
        LoadDataGrid();

        $('#tblFndCollectorsPrint thead').html($('#tblFndCollectors thead').html());
        $('#tblFndCollectorsPrint thead tr :last-child').remove();

        $('#FndCollectors').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(FndCollectorsController.LoadDataGrid)`;
    const _tblSelector = $('#tblFndCollectors');
    const _tblLoader = $('#tblLoader');
    const _txtCollectorNumber = $('#searchBox #CollectorNumberSearch');
    const _txtCollectorNameAr = $('#searchBox #CollectorNameArSearch');
    const _txtCollectorNameEn = $('#searchBox #CollectorNameEnSearch');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_FndCollectors_Update';
    const _deletePermission = '@PermissionNames.Pages_FndCollectors_Delete';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
            toastr.error(response.customRestResult.message);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        console.log(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            CollectorNumber: _txtCollectorNumber.val(),
            CollectorNameAr: _txtCollectorNameAr.val(),
            CollectorNameEn: _txtCollectorNameEn.val()
        };

        $('#dataCollapse').show();
        $('#tblLoader').show();

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }

            , {
                "data": "CollectorNameAr",
                "name": "CollectorNameAr",
                "autoWidth": true
            },
            {
                "data": "CollectorNameEn",
                "name": "CollectorNameEn",
                "autoWidth": true
            }, {
                "data": "CollectorNumber",
                "name": "CollectorNumber",
                "autoWidth": true
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(FndCollectorsController.FndCollectorsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(FndCollectorsController.Delete)`;

                    let formTitle = '@FndCollectors.Title';
                    let btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_FndCollectors_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,


            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };
        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });
        };


        function printExc() {
            $('.page-loader-wrapper').show();
            const parmss = {
                CollectorNumber: _txtCollectorNumber.val(),
                CollectorNameAr: _txtCollectorNameAr.val(),
                CollectorNameEn: _txtCollectorNameEn.val(),
                length: 1000000
            };


        $('#dataCollapse').show();
        $('#tblLoader').show();

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }

            , {
                "data": "CollectorNameAr",
                "name": "CollectorNameAr",
                "autoWidth": true
            },
            {
                "data": "CollectorNameEn",
                "name": "CollectorNameEn",
                "autoWidth": true
            }, {
                "data": "CollectorNumber",
                "name": "CollectorNumber",
                "autoWidth": true
            }
        ];

            const dtObj = {
                "language": dataTableLang,
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'excel',
                        messageTop: `${$('#CollectorNumberSearch').siblings().text()}: ${(parmss.CollectorNumber) ? parmss.CollectorNumber : '--'}, ${$('#CollectorNameArSearch').siblings().text()}: ${(parmss.CollectorNameAr) ? parmss.CollectorNameAr : '--'}, ${$('#CollectorNameEnSearch').siblings().text()}: ${(parmss.CollectorNameEn) ? parmss.CollectorNameEn : '--'}`
                    },

                ],
                "ajax": {
                    "url": _loadDataUrl,
                    "type": "POST",
                    "datatype": "json",
                    "data": parmss,
                    "complete": function (d) {
                        _tblLoader.hide();
                    }
                },
                "columns": columns,

                "initComplete": function () {
                    $('#tblFndCollectorsPrint_wrapper button.dt-button').click();
                    $('#tblFndCollectorsPrint_wrapper').parent().addClass('d-none');

                }
            };

            $('#tblFndCollectorsPrint').dataTable().fnDestroy();
            $('#tblFndCollectorsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


        }

</script>
