@using ERP.ResourcePack.Warehouses

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="tblDetails">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@IvReceiveHd.ItemNumber</th>
                                <th>@IvReceiveHd.IvItemId</th>
                                <th>@IvReceiveHd.IvUnitId</th>
                                <th>@IvReceiveHd.Qty</th>
                                <th>@IvReceiveHd.UnitPrice</th>
                                <th>@IvReceiveHd.Amount</th>
                                <th>@IvReceiveHd.TaxAmount</th>
                                <th>@IvReceiveHd.TotalAmount</th>
                                <th><i class="fas fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>

            

        </div>
    </div>
</div>

