@using ERP.ResourcePack.Accounts
@model ERP.Web.UI.Models.ReportModels.PmContractNotRenewedHelperInput
@{
    ViewBag.Title = ReportsAccounts.PmContractNotRenewed;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>@ReportsAccounts.PmContractNotRenewed</strong></h2>
    </div>
    <div class="body  collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-4">
                <label class="form-label">@ReportsAccounts.PMTenantId</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.PMTenantId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">@ReportsAccounts.PmUnitTypeLkpId</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.PmUnitTypeLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">@ReportsAccounts.PropertyId</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.PropertyId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12 text-center">
                <div class="form-group">
                    <button id="btnPrint" onclick="return PrintTmCharityBoxListReport()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.Print</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Html.Partial("~/ViewsScripts/_ReportsPms/PmContractNotRenewedScripts.cshtml")
    @Html.Partial("_ReportModal")
}