@using ERP.ResourcePack.Accounts
@model ERP._System.__ReportsPms.Input.PmContractsHelperInput
@{
    ViewBag.Title = ReportsAccounts.TenantAccount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" id="searchBox">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>@ReportsAccounts.TenantAccount</strong></h2>
    </div>
    <div class="body  collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-4">
                <label class="form-label">@ReportsAccounts.TenantName</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.PmActivityId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line text-center">
                        @Html.TextBoxFor(z => z.ContractStartDate, new { @class = "form-control", @readonly = "true" })
                        <label class="form-label">@ReportsAccounts.TenantNumber</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line text-center">
                        @Html.TextBoxFor(z => z.FromDate, new { @class = "form-control datepicker" })
                        <label class="form-label">@ReportsAccounts.FromDate</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line text-center">
                        @Html.TextBoxFor(z => z.ToDate, new { @class = "form-control datepicker" })
                        <label class="form-label">@ReportsAccounts.ToDate</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>
                    <label>
                        <input type="checkbox" id="chExecuted" />
                        <span>@Html.Label(@ReportsAccounts.ExecutedInvoices)</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12 text-center">
                <div class="form-group">
                    <button id="btnPrint" onclick="return LoadDataGrid()" class="btn btn-success btn-border-radius mx-2 waves-effect">@ERP.ResourcePack.Common.Settings.BtnSearch</button>
                    <a href="javascript:void(0)" class="btn btn-danger btn-border-radius" onclick="return clearSearchForm()" role="button" aria-haspopup="true" aria-expanded="false">
                        @ERP.ResourcePack.Common.Settings.BtnClear
                    </a>
                    <button id="btnPrint" onclick="return PrintTmCharityBoxListReport()" class="btn btn-info btn-border-radius mx-2 waves-effect">@ERP.ResourcePack.Common.Settings.Print</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="" style="padding:10px;min-height:400px">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="tblDetails">
                            <thead>
                                <tr>

                                    <th>Date</th>
                                    <th>Source</th>
                                    <th>Comments</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                        <div class="d-none">
                            <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100 d-none" id="tblDetailsPrint">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>

@section scripts{
    @Html.Partial("~/ViewsScripts/_ReportsPms/TenantAccountScripts.cshtml")
    @Html.Partial("_ReportModal")
}