@using ERP.ResourcePack.Sales
@using ERP.Web.UI.Models.ViewModels.Sales
@using ERP.Web.UI.Models.ViewModels.General
@model IvSaleHdVM
@{
    ViewBag.Title = ERP.ResourcePack.Sales.IvSaleHd.Title;
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    string lkpKeyDdl = lang == "ar-EG" ? nameof(FndLookupValuesVM.NameAr) : nameof(FndLookupValuesVM.NameEn);
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="tblSalesDetails" style="width:100%">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@IvSaleHd.Itemcode</th>
                                <th>@IvSaleHd.Itemname</th>
                                <th>@IvSaleHd.Avilablequantity</th>
                                <th>@IvSaleHd.Qtys</th>
                                <th>@IvSaleHd.Unitprice</th>
                                <th>@IvSaleHd.Discount</th>
                                <th>@IvSaleHd.totbeforetax</th>
                                <th>@IvSaleHd.Taxamount</th>
                                <th>@IvSaleHd.Totalamount</th>
                                @*<th>@IvSaleHd.profit</th>*@
                                <th><i class="fas fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            @*<tr>
                                <th colspan="9" style="text-align:right">@IvSaleHd.Invoicetotal</th>
                                <th></th>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" hidden>
    <div class="col-sm-4">
        <div class="form-group form-float">
            <div class="form-line">
                <input type="number" id="_Discount" class="form-control" />
                @Html.Label("Discount", new { @class = "form-label" })
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group form-float">
            <div class="form-line">
                <input type="number" id="_DeliveryCharges"  class="form-control" />
                @Html.Label("Delivery Charges", new { @class = "form-label" })
            </div>
        </div>
    </div>

</div>




