@using ERP.ResourcePack.Accounts
@using ERP.Web.UI.Controllers.Accounts
@using ERP.Authorization;
@{
    string permissionsStr = TempData["Permissions"].ToString();
    string encUpdateTrigger = ERP.Front.Helpers.Enums.Common.EncUpdate;
    string encInsertTrigger = ERP.Front.Helpers.Enums.Common.EncInsert;
    string encShowTrigger = ERP.Front.Helpers.Enums.Common.EncShow;
}
@if (permissionsStr.Contains(PermissionNames.Pages_ApDrCrHd_Post))
{
    <script>
        const PostAjax = function (id) {

            bootbox.confirm({
                message: _booBoxMessagePosting,
                buttons: bootBoxDefaultBtns,
                callback: function (result) {

                    if (result) {

                        const data = {
                            id: id,
                            lang: lang,
                            userId: 0
                        };

                        $.ajax({
                            url: `${baseUrl}/ApDrCrHd/PostApDrCrHd`,
                            type: 'POST',
                            data: JSON.stringify(data),
                            headers:
                            {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${$_token}`
                            },
                        }).done(function (response) {

                            if (response.result.finalStatues == 'F') {
                                toastr.warning(response.result.reason);
                            }
                            else {
                                toastr.success(response.result.reason);

                                if (formView) {

                                    setTimeout(function () {
                                        window.location.href = $PrefixHostName + '/ApDrCrHd';
                                    }, 100);

                                } else {
                                    LoadDataGrid();
                                }
                            }

                        }).fail(function (response) {
                            toastr.error(response);
                        });
                    }
                }
            });
        };
    </script>
}
else
{
    <script>
        const PostAjax = function (id) { };
    </script>
}

<script>

    const _mainController = "ApDrCrHd"

    $(function () {

        LoadDataGrid();
        $('#tblApDrCrHdPrint thead').html($('#tblApDrCrHd thead').html());
        $('#tblApDrCrHdPrint thead tr :last-child').remove();

        $('#ApDrCrHd').addClass('active');
        $('#HdDate').parent('.form-line').addClass('focused');
    });


    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(ApDrCrHdController.LoadDataGrid)`;
    const _tblSelector = $('#tblApDrCrHd');
    const _tblLoader = $('#tblLoader');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_ApDrCrHd_Update';
    const _deletePermission = '@PermissionNames.Pages_ApDrCrHd_Delete';
    const _postPermission = '@PermissionNames.Pages_ApDrCrHd_Post';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        $('#btnSubmition').prop('disabled', false);

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                setTimeout(function () {
                    window.location.href = $PrefixHostName + '/ApDrCrHd';
                }, 200);

            }
            else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                toastr.success(response.customRestResult.message);

                setTimeout(function () {
                    window.location.href = $PrefixHostName + '/ApDrCrHd';
                }, 200);

            }
            else {
                toastr.error(response.customRestResult.message);
            }

        } else {
                toastr.error(response.error.message);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        $('#tblLoader').show();

        const params = {
            HdDrCrNumber: $('#searchBox #HdDrCrNumber').val(),
            HdDate: $('#searchBox #HdDate').val(),
            StatusLkpId: $('#searchBox #StatusLkpId').find(':selected').val(),
            HdTypeLkpId: $('#searchBox #HdTypeLkpId').find(':selected').val(),
            VendorId: $('#searchBox #VendorId').find(':selected').val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "HdDrCrNumber",
                "name": "HdDrCrNumber",
                "autoWidth": true
            },
            {
                "data": "HdDate",
                "name": "HdDateintloatToStringToString",
                "autoWidth": true
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.Vendors == null) return '';

                    return lang === 'ar-EG' ? row.Vendors.VendorNumber : row.Vendors.VendorNumber;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.Vendors == null) return '';

                    return lang === 'ar-EG' ? row.Vendors.VendorNameAr : row.Vendors.VendorNameEn;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.FndLookupValuesStatusLkp == null) return '';

                    return lang === 'ar-EG' ? row.FndLookupValuesStatusLkp.NameAr : row.FndLookupValuesStatusLkp.NameEn;
                }
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(ApDrCrHdController.ApDrCrHdForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(ApDrCrHdController.Delete)`;

                    let formTitle = '@ERP.ResourcePack.Accounts.ArCustomers.ArDrCrHd', btns = '';

                    const newStatusId = @((int)ERP.Front.Helpers.Enums.Common.ApDrCrHd.New);

                    if (_permissions.includes(_postPermission) && row.StatusLkpId == newStatusId) {
                         btns += `<a href="javascript:void(0)" onclick="PostAjax(${row.Id})"  title="@ERP.ResourcePack.Common.Settings.Post"><i class="mx-2 fas fa-check-circle text-info"></i></a>`;
                    }

                    if (_permissions.includes(_updatePermission) && row.StatusLkpId == newStatusId) {
                        btns += `<a href="${$PrefixHostName}/ApDrCrHd/FormView?id=${row.EncId}&t=@encUpdateTrigger" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                        btns += `<a href="${$PrefixHostName}/ApDrCrHd/FormView?id=${row.EncId}&t=@encShowTrigger" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                        if (_permissions.includes(_deletePermission) && row.StatusLkpId == newStatusId) {
                            btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_ApDrCrHd_Audit';

                        if (_permissions.includes(_auditedPermission)) {

                            row.permission = _auditedPermission;

                            btns += GetAuditedButton(row);
                        }

                        return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": params,
                "complete": function () {
                      _tblLoader.hide();
                }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }

        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });

        setTimeout(function () {
            $(".sorting_1").removeAttr('colspan');
        }, 500);
    };

    $('#btnSubmition').on('click', function () {

        if ($('#mainForm').valid()) {

            $(this).prop('disabled', true);

            $('#submitLoader').show();

            $('#mainForm').submit();

        } else {
            $(this).prop('disabled', false);

            $('#submitLoader').hide();
        }
    });

    $('#searchBox #StatusLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.ApDrCrHdStatues.ToString()'));
    $('#searchBox #HdTypeLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.ApDrCrHdType.ToString()'));
    $('#HdTypeLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.ApDrCrHdType.ToString()'));
    $('#VendorId').select2(ReturnSelect2ObjectDefault(`${baseUrl}/ApVendors/GetVendorsSelect2`));
    $('#CurrencyId').select2(ReturnSelect2ObjectDefault(`${baseUrl}/Currency/GetCurrenciesSelect2`));
    $('#FndTaxtypeId').select2(ReturnSelect2ObjectDefault(`${baseUrl}/FndTaxType/GetFndTaxTypeSelect2`));
    $('#FndTaxtypeId').on('change', function (e) {
        const PercentageTxt = $('#Tax');
        const FndTaxtype = $(this);
        if (FndTaxtype === undefined || FndTaxtype.find(':selected').val() === undefined) {
            $('#Tax').val('');
        } else {
            $.ajax({
                url: `${baseUrl}/FndTaxtype/GetPercentage`,
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${$_token}`
                },
                data: {
                    Id: FndTaxtype.find(':selected').val(),
                    date: ''
                }
            }).done(function (Percentage) {
                debugger;
                let _inputSelector = $('#Tax');

                _inputSelector.parent('.form-line').addClass('focused');

                PercentageTxt.val(Percentage.result);

            }).fail(function (response) {
                toastr.error(response);
            });
        }
    });



   $('#CurrencyId').on('change', function (e) {

        const currency = $(this);
        const rateTxt = $('#CurrencyRate');

       if (currency === undefined || currency.find(':selected').val() === undefined) {
           $('#CurrencyRate').val('');
       } else {
            $.ajax({
                url: `${baseUrl}/Currency/GetRate`,
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${$_token}`
                },
                data: {
                    Id: currency.find(':selected').val(),
                    date: ''
                }
            }).done(function (rate) {

                let _inputSelector = $('#CurrencyRate');

                _inputSelector.parent('.form-line').addClass('focused');

                rateTxt.val(rate.result);

            }).fail(function (response) {
                toastr.error(response);
            });
        }
   });
</script>


<script title="Details">

    const _tblGlHeaderDetailSelector = $('#tblApDrCrHdDetail');
    const _tblGlHeaderDetailSelectorBody = $('#tblApDrCrHdDetail tbody');
    const _listGljeLinesDetails = $('#ListApDrCrTr');

    let _glHeaderDetails = [], updatedRow, sumDebit = 0, sumCredit = 0, tblCounterIndex = 0;

    const fillGlDetail = function () {

        @*if (validateAmmounts() === false) {
            toastr.warning('@GlJeHeaders.AmountNotValid');
            return;
        }

        if (validateLines() === false) {
            toastr.warning('@GlJeHeaders.FormDetailNotValid');
            return;
        }*@

        const resultCodeComUtility = GetCodeComUtilites(__arrGlSelect2, 'AccId');

       // console.log(GetCodeComUtilitesForReports(__arrGlSelect2, 'AccId'));

        if (resultCodeComUtility === null || !$('#Description').val() || !$('#Amount').val()) {
            toastr.warning('@GlJeHeaders.FormDetailNotValid');
            return;
        }

       
        const current = {
            index: ++tblCounterIndex,
            codeComUtilityIds: resultCodeComUtility.idsStr,
            codeComUtilityTexts: resultCodeComUtility.textsStr,
            description: $('#Description').val(),
            amount: $('#Amount').val(),
            tax: $('#Tax').val(),
            FndTaxtypeId: $('#FndTaxtypeId').find(':selected').val(),
            rowStatus: NewStatus
        };

        return current;
    };

    const AddApDrCrHdDetail = function () {

        const current = fillGlDetail();

        if (current === undefined) {
             toastr.warning('@GlJeHeaders.FormDetailNotValid');
             return;
        }

        _glHeaderDetails.push(current);

        _listGljeLinesDetails.val(JSON.stringify(_glHeaderDetails));

        bindglHeaderDetailsTable();

        clearFormAdding();
    };

    const bindglHeaderDetailsTable = function () {

        sumDebit = 0; sumCredit = 0;

        let rows = '';

        const detailArr = _glHeaderDetails.filter(z => z.rowStatus !== DeletedStatus);

        $.each(detailArr, function (i, item) {

            var amountVal = parseFloat(item.amount);
            var taxPercentVal = parseFloat(item.tax) / 100;
            var taxAmountVal = amountVal * taxPercentVal;
            var totalAmountVal = amountVal + taxAmountVal;


            rows += '<tr>';

            rows += `<td>${item.index}</td>`;
            rows += `<td>${item.codeComUtilityTexts}</td>`;
            rows += `<td>${item.description}</td>`;
            rows += `<td>${Number(item.amount).toLocaleString(undefined, optionsNumFormat)}</td>`;
            rows += `<td>${item.tax}</td>`;
            rows += `<td>${Number(taxAmountVal).toLocaleString(undefined, optionsNumFormat)}</td>`;
            rows += `<td>${Number(totalAmountVal).toLocaleString(undefined, optionsNumFormat)}</td>`;


            if (primaryEntityKeyId === 0 || trigger !== '@ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString()') {
                rows += `<td><a href="javascript:void(0)" onclick="return DeleteGlJeLineDetail(${item.index})"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                rows += `<a href="javascript:void(0)" onclick="return GetGlJeRow(${item.index})"><i class="mx-2 fas fa-edit text-success"></i></a></td>`;
            } else {
                rows += '<td></td>';
            }

         

            rows += '</tr>';

            sumCredit += totalAmountVal
        });

         rows += '<tr>';         
         rows += `<td colspan="5"></td>`;
        

        //detailArr.map(z => sumDebit += parseFloat(z.Amount));        
        //detailArr.map(z => sumCredit += parseFloat(z.amount));

        if (sumDebit === sumCredit) {
            rows += `<td class="text-success">Total</td>`;
            rows += `<td class="text-success">${(sumCredit).toLocaleString(undefined, optionsNumFormat)}</td>`;
        } else {

            if (sumCredit > sumDebit) {
                rows += `<td class="text-danger"> <b class="text-success"> Total </b> </td>`;
                rows += `<td class="text-danger">${(sumCredit).toLocaleString(undefined, optionsNumFormat)}</td>`;

            } else if (sumDebit > sumCredit) {

                rows += `<td class="text-danger"> Total </td>`;
                rows += `< td class="text-danger" > ${ (sumCredit).toLocaleString(undefined, optionsNumFormat)} <b class="text-success"></b> </td>`;

            } else {
                 rows += `<td class="text-danger">Total </td>`;
                 rows += `< td class="text-danger" > ${ (sumCredit).toLocaleString(undefined, optionsNumFormat)}</td>`;
            }

        }

        rows += '</tr>';

        _tblGlHeaderDetailSelectorBody.html(rows);
        $('#tblGlJeHeadersDetail_wrapper th').removeClass('sorting');

    };

    const DeleteGlJeLineDetail = function (index) {

        const current = _glHeaderDetails.find(z => z.index === index);

        const indexOfCurrent = _glHeaderDetails.indexOf(current);
        if (!current.id) {

           _glHeaderDetails.splice(indexOfCurrent, 1);

        } else {

            current.rowStatus = DeletedStatus;

           _glHeaderDetails.splice(indexOfCurrent, 1,current);
        }


        bindglHeaderDetailsTable();

        _listGljeLinesDetails.val(_glHeaderDetails.length === 0 ? '' : JSON.stringify(_glHeaderDetails));
    };

    const LoadDetailGlJeLinesData = function () {

        $.ajax({
            url: `${baseUrl}/ApDrCrHd/GetAllApDrCrHdDetails`,
            method: 'GET',
            headers: {
                        'Authorization': `Bearer ${$_token}`
            },
            data: {
                gljeheaderId: primaryEntityKeyId
            }
        }).done(function (data) {

            _glHeaderDetails = [...data.result];

            bindglHeaderDetailsTable();

            _listGljeLinesDetails.val(JSON.stringify(_glHeaderDetails));

            const newarr = data.result.reverse();

            tblCounterIndex = newarr[0].index;

        });

    };

    const debitAmmountSetter = function () {

        const currentVal = $('#DebitAmount').val();

        if (currentVal <= 0)
        {
            $('#CreditAmount').attr('disabled',false);
        }
        else
        {
            $('#CreditAmount').attr('disabled',true);
            $('#CreditAmount').val(0);
            $('#CreditAmount').parent('.form-line').addClass('focused');
        }
    };

    const creditAmmountSetter = function () {

        const currentVal = $('#CreditAmount').val();

        if (currentVal <= 0)
        {
            $('#DebitAmount').attr('disabled',false);
        }
        else
        {
            $('#DebitAmount').attr('disabled',true);
            $('#DebitAmount').val(0);
            $('#DebitAmount').parent('.form-line').addClass('focused');
        }

    };

    const clearFormAdding = function () {

        $('#Amount').val('');
        $('#Tax').val('');
        $('#FndTaxtypeId').val('').trigger('change');
        $('#Description').val('');
        $('#Amount').attr('disabled',false);
        $('#Description').attr('disabled',false);
        $('select[data-header-gl-id]').val('').trigger('change');
        $('#AccId').val('').trigger('change');
    };

    const GetGlJeRow = function (tblIndex) {

        clearFormAdding();

        $('#btnAddDetailRow').hide();
        $('#btnUpdateDetailRow').show();
        $('#btnCancelDetailRow').show();

        const current = _glHeaderDetails.find(z => z.index === tblIndex);

        BindCodeComUtilitesDropDowns(__arrGlSelect2, 'AccId', current.codeComUtilityIds, current.codeComUtilityTexts);

        $('#Description').val(current.description);
        $('#Amount').val(current.amount);
        $('#Tax').val(current.tax);
        $('#FndTaxtypeId').val(current.FndTaxtypeId).trigger('change');
        

        $('#Description').parent('.form-line').addClass('focused');
        $('#Amount').parent('.form-line').addClass('focused');
        $('#Tax').parent('.form-line').addClass('focused');

        updatedRow = current;

    };

    const UpdateApDrCrHdDetailRow = function () {

        let current = _glHeaderDetails.find(z => z.index === updatedRow.index);

        let indexOfCurrent = _glHeaderDetails.indexOf(_glHeaderDetails.find(z => z.index === updatedRow.index));

       const newRow = fillGlDetail();

        if (newRow === undefined) {
             toastr.warning('@GlJeHeaders.FormDetailNotValid');
             return;
        }

        newRow.index = current.index;
        newRow.id = updatedRow.id;
        newRow.apDrCrHdId = updatedRow.apDrCrHdId;
        newRow.rowStatus = !updatedRow.id ? NewStatus : UpdatedStatus;

        _glHeaderDetails.splice(indexOfCurrent, 1,newRow);

        $('#btnAddDetailRow').show();
        $('#btnUpdateDetailRow').hide();
        $('#btnCancelDetailRow').hide();

        clearFormAdding();

        _listGljeLinesDetails.val(JSON.stringify(_glHeaderDetails));

        bindglHeaderDetailsTable();
    };

    function printExc() {
        $('.page-loader-wrapper').show();
        $('#tblApDrCrHdPrint_wrapper').parent().addClass('d-none');
        const parmss = {
            HdDrCrNumber: $('#searchBox #HdDrCrNumber').val(),
            HdDate: $('#searchBox #HdDate').val(),
            StatusLkpId: $('#searchBox #StatusLkpId').find(':selected').val(),
            HdTypeLkpId: $('#searchBox #HdTypeLkpId').find(':selected').val(),
            VendorId: $('#searchBox #VendorId').find(':selected').val(),
            length: 1000000
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "HdDrCrNumber",
                "name": "HdDrCrNumber",
                "autoWidth": true
            },
            {
                "data": "HdDate",
                "name": "HdDate",
                "autoWidth": true
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.Vendors == null) return '';

                    return lang === 'ar-EG' ? row.Vendors.VendorNumber : row.Vendors.VendorNumber;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.Vendors == null) return '';

                    return lang === 'ar-EG' ? row.Vendors.VendorNameAr : row.Vendors.VendorNameEn;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (d, t, row) {
                    if (row.FndLookupValuesStatusLkp == null) return '';

                    return lang === 'ar-EG' ? row.FndLookupValuesStatusLkp.NameAr : row.FndLookupValuesStatusLkp.NameEn;
                }
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('#HdDrCrNumber').siblings().text()}: ${(parmss.HdDrCrNumber) ? parmss.HdDrCrNumber : '--'}, ${$('#HdDate').siblings().text()}: ${(parmss.HdDate) ? parmss.HdDate : '--'}, ${$('[for="StatusLkpId"]').text()}: ${(parmss.StatusLkpId) ? parmss.StatusLkpId : '--'}, ${$('[for="HdTypeLkpId"]').text()}: ${(parmss.HdTypeLkpId) ? parmss.HdTypeLkpId : '--'}, ${$('[for="VendorId"]').text()}: ${(parmss.VendorId) ? parmss.VendorId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblApDrCrHdPrint_wrapper button.dt-button').click();
                $('#tblApDrCrHdPrint_wrapper').parent().addClass('d-none');

            }
        };

        $('#tblApDrCrHdPrint').dataTable().fnDestroy();
        $('#tblApDrCrHdPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>