@using ERP.Web.UI.Models.ViewModels.AidModule
@model ScCampainsVM
@{
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}

<div class="card" style="display:@(formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-4">
                @Html.LabelFor(z => z.FndUsersId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.FndUsersId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(z => z.CampainAidId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.CampainAidId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group m-2">
                    <button id="btnAddDetailRow" onclick="return AddScCampainsDetail()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateDetailRow" onclick="return UpdateScCampainsDetailRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelDetailRow" onclick="clearFormAdding(); $('#btnCancelDetailRow').hide();$('#btnUpdateDetailRow').hide();$('#btnAddDetailRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
 