@using ERP.Web.UI.Controllers.HR
@using ERP.Authorization;
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "HrOrganizations"

    $(function () {
        LoadDataGrid();
        $('#tblHrOrganizationsPrint thead').html($('#tblHrOrganizations thead').html());
        $('#tblHrOrganizationsPrint thead tr :last-child').remove();
        $('#HrOrganizations').addClass('active');
        $('#Notes').parent('.form-line').addClass('focused');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(HrOrganizationsController.LoadDataGrid)`;
    const _tblSelector = $('#tblHrOrganizations');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_HrOrganizations_Update';
    const _deletePermission = '@PermissionNames.Pages_HrOrganizations_Delete';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
               toastr.error(response.customRestResult.message);
        }
    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            OrganizationName: $('#SearchOrganizationName').val(),
            OrganizationTypeLkpId: $('#SearchOrganizationTypeLkp').find(':selected').val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "OrganizationName",
                "name": "OrganizationName",
                "autoWidth": true
            },
            {
                "data": "ShortName",
                "name": "ShortName",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "OrganizationTypeLkpId",
                "autoWidth": true,
                "render": function (d, t, row) {

                    return row.FndOrganizationTypeLkp ? (lang == 'ar-EG' ? row.FndOrganizationTypeLkp.NameAr : row.FndOrganizationTypeLkp.NameEn) : ''

                }
            },
            {
                "data": null,
                "name": "ParentId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.Parent ? row.Parent.OrganizationName : '';
                }
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(HrOrganizationsController.HrOrganizationsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(HrOrganizationsController.Delete)`;

                    let formTitle = '@ERP.ResourcePack.HR.HrOrganizations.Title', btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');GetItemsTree(${row.Id})" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');GetItemsTree(${row.Id})" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_HrOrganizations_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () { }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }

        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });

        setTimeout(function () {
            $(".sorting_1").removeAttr('colspan');
        }, 500);
    };

    $('#SearchOrganizationTypeLkp').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.HrOrganizationsOrganizationType.ToString()'))

    const GetItemsTree = function (id) {

        $.ajax({
            url: `${baseUrl}/HrOrganizations/GetHRTree`,
            dataType: 'json',
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${$_token}`
            },
            data: {
                id: id,
                lang: lang
            },
            cache: false,
        }).done(function (data) {

            if (data.result)  drawTree(data.result);

        }).fail(function (response) {
            toastr.error(response.statusText);
        });

    };

    const drawTree = function (data) {

        setTimeout(function () {

            $('#jstreeForm').jstree({
                "core": {
                    "check_callback": true,
                    'data': data,
                },
                "plugins": ["search"],
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true
                }
            });

        },100);

    };

    function printExc() {
        $('.page-loader-wrapper').show();

        const parmss = {
            OrganizationName: $('#SearchOrganizationName').val(),
            OrganizationTypeLkpId: $('#SearchOrganizationTypeLkp').find(':selected').val(),
            length: 1000000
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "OrganizationName",
                "name": "OrganizationName",
                "autoWidth": true
            },
            {
                "data": "ShortName",
                "name": "ShortName",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "OrganizationTypeLkpId",
                "autoWidth": true,
                "render": function (d, t, row) {

                    return row.FndOrganizationTypeLkp ? (lang == 'ar-EG' ? row.FndOrganizationTypeLkp.NameAr : row.FndOrganizationTypeLkp.NameEn) : ''

                }
            },
            {
                "data": null,
                "name": "ParentId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.Parent ? row.Parent.OrganizationName : '';
                }
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('#SearchOrganizationName').siblings().text()}: ${(parmss.OrganizationName) ? parmss.OrganizationName : '--'}, ${$('[for="OrganizationTypeLkpId"]').text()}: ${(parmss.OrganizationTypeLkpId) ? parmss.OrganizationTypeLkpId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblHrOrganizationsPrint_wrapper button.dt-button').click();
            }
        };

        $('#tblHrOrganizationsPrint').dataTable().fnDestroy();
        $('#tblHrOrganizationsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>
