@{
    ViewBag.Title = "Vendor Account Report";
}

@{

}
<style>
    .wedgit {
        min-height: 80px;
    }

    .buttons-pdf {
        width: auto !important;
    }
</style>

<div class="card" id="searchBox">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>Vendor Account </strong> -  Report</h2>
    </div>
    <div class="body collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-3">
                <label for="VendorId" class="form-label">Vendor Name</label>

                <div class="form-group form-float">
                    <div class="form-group">
                        <select id="VendorId" class="form-control"></select>
                        @*@Html.DropDownListFor(z => z.IvWarehouseId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })*@
                    </div>
                </div>
            </div>

            @*<div class="col-sm-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="tenantName" class="form-control datepicker" />
                            <label for="tenantName" class="form-label">Vendor Number</label>

                        </div>
                    </div>
                </div>*@

            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" id="fromDate" class="form-control datepicker" />
                        <label for="fromDate" class="form-label">From Date</label>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" id="toDate" class="form-control datepicker" />
                        <label for="toDate" class="form-label">To Date</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="checkbox" id="IsNotSettled" class="form-control" />
                        <label for="IsNotSettled" class="form-label">IsNotSettled</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-border-radius mx-2 waves-effect" onclick="return LoadDataGrid()">
                @ERP.ResourcePack.Common.Settings.BtnSearch
            </button>
            <a href="javascript:void(0)" class="btn btn-danger btn-border-radius" onclick="return clearSearchForm()" role="button" aria-haspopup="true" aria-expanded="false">
                @ERP.ResourcePack.Common.Settings.BtnClear
            </a>
            <button type="button" class="btn btn-info btn-border-radius mx-2 waves-effect" onclick="return printExc()">
                @ERP.ResourcePack.Common.Settings.Print
            </button>

            <button type="button" class="btn btn-info btn-border-radius mx-2 waves-effect" onclick="return printExc()">
                @ERP.ResourcePack.Common.Settings.PrintPdf
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="" style="padding:10px;min-height:400px">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="tblDetails">
                            <thead>
                                <tr>

                                    <th>Date</th>
                                    <th>Source</th>
                                    <th>Comments</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                        <div class="d-none">
                            <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100 d-none" id="tblDetailsPrint">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
@section scripts{
    @Html.Partial("~/ViewsScripts/_Reports/VendorItemsReport.cshtml")
}
