@using ERP.Authorization;
@using ERP.Web.UI.Controllers.HR
@using ERP.ResourcePack.HR
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "PyElements"

    $(function () {
        LoadDataGrid();
        $('#tblPyElementsPrint thead').html($('#tblPyElements thead').html());
        $('#tblPyElementsPrint thead tr :last-child').remove();
        $('#PyElements').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(PyElementsController.LoadDataGrid)`;
    const _tblSelector = $('#tblPyElements');
    const _tblLoader = $('#tblLoader');
    const _txtElementSerial = $('#searchBox #ElementSerial');
    const _txtElementName = $('#searchBox #ElementName');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_PyElements_Update';
    const _deletePermission = '@PermissionNames.Pages_PyElements_Delete';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

                window.location.reload();

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);

                window.location.reload();
            }

        } else {
            toastr.error(response.customRestResult.message);
            window.location.reload();
        }

    };

    var OnComplete = function (response) {
        window.location.reload();
    };

    var OnFailure = function (response) {
        window.location.reload();
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        $('#tblLoader').show();

        const parms = {
            ElementSerial: _txtElementSerial.val(),
            ElementName: _txtElementName.val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "ElementSerial",
                "name": "ElementSerial",
                "autoWidth": true
            },
            {
                "data": "ElementName",
                "name": "ElementName",
                "autoWidth": true
            }
            ,
            {
                "data": null,
                "name": "ElementTypeLkpId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.FndLookupValuesElementTypeLkp ? (lang === 'ar-EG' ? row.FndLookupValuesElementTypeLkp.NameAr : row.FndLookupValuesElementTypeLkp.NameEn) : '';
                }
            }, {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(PyElementsController.PyElementsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(PyElementsController.Delete)`;

                    let formTitle = '@PyElements.Title';
                    let btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_PyElements_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () {
                    _tblLoader.hide();
                }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });

    };

    function printExc() {
        $('.page-loader-wrapper').show();
        $('#tblPyElementsPrint_wrapper').parent().addClass('d-none');
        const parmss = {
            ElementSerial: _txtElementSerial.val(),
            ElementName: _txtElementName.val(),
            length: 1000000
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "ElementSerial",
                "name": "ElementSerial",
                "autoWidth": true
            },
            {
                "data": "ElementName",
                "name": "ElementName",
                "autoWidth": true
            }
            ,
            {
                "data": null,
                "name": "ElementTypeLkpId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.FndLookupValuesElementTypeLkp ? (lang === 'ar-EG' ? row.FndLookupValuesElementTypeLkp.NameAr : row.FndLookupValuesElementTypeLkp.NameEn) : '';
                }
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('#ElementSerial').siblings().text()}: ${(parmss.ElementSerial) ? parmss.ElementSerial : '--'}, ${$('#ElementName').siblings().text()}: ${(parmss.ElementName) ? parmss.ElementName : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblPyElementsPrint_wrapper button.dt-button').click();
                $('#tblPyElementsPrint_wrapper').parent().addClass('d-none');

            }
        };

        $('#tblPyElementsPrint').dataTable().fnDestroy();
        $('#tblPyElementsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }


</script>
