@using ERP.Authorization;
@using ERP.Web.UI.Controllers.Accounts
@using ERP.ResourcePack.Accounts
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "ApUserBankAccess"

    $(function () {
        LoadDataGrid();
        $('#tblApUserBankAccessPrint thead').html($('#tblApUserBankAccess thead').html());
        $('#tblApUserBankAccessPrint thead tr :last-child').remove();
        $('#ApUserBankAccess').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(ApUserBankAccessController.LoadDataGrid)`;
    const _tblSelector = $('#tblApUserBankAccess');
    const _tblSelectorbody = $('#tblApUserBankAccess tbody');
    const _tblLoader = $('#tblLoader');
    const _txtUserId = $('#searchBox #UserIdSearch');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_ApUserBankAccess_Update';
    const _deletePermission = '@PermissionNames.Pages_ApUserBankAccess_Delete';


    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();
                $('#tblApUserBankAccessPrint thead').html($('#tblApUserBankAccess thead').html());
                $('#tblApUserBankAccessPrint thead tr :last-child').remove();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();
                $('#tblApUserBankAccessPrint thead').html($('#tblApUserBankAccess thead').html());
                $('#tblApUserBankAccessPrint thead tr :last-child').remove();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
            toastr.error(response.customRestResult.message);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response.statusText);
        console.log(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            UserId: _txtUserId.val()
        };

        $('#dataCollapse').show();
        $('#tblLoader').show();

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }

            , {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.User) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.User.UserName;
                    return row.User.UserName;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.ApBanksDto) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.ApBanksDto.BankNameAr;
                    return row.ApBanksDto.BankNameEn;
                }
            }, {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.ApBankAccounts) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.ApBankAccounts.BankAccountNameAr;
                    return row.ApBankAccounts.BankAccountNameEn;
                }
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(ApUserBankAccessController.ApUserBankAccessForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(ApUserBankAccessController.Delete)`;

                    let formTitle = '@ApUserBankAccess.Title';
                    let btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_ApUserBankAccess_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,


            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }
        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });
    };

    $('#searchBox #UserIdSearch').select2(ReturnSelect2ObjectDefault(`${baseUrl}/User/GetUsersSelect2`));

    function printExc() {
        $('.page-loader-wrapper').show();
        $('#tblApUserBankAccessPrint_wrapper').parent().addClass('d-none');
        const parmss = {
            UserId: _txtUserId.val(),
            length: 1000000
        };

        $('#dataCollapse').show();
        $('#tblLoader').show();

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }

            , {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.User) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.User.UserName;
                    return row.User.UserName;
                }
            },
            {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.ApBanksDto) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.ApBanksDto.BankNameAr;
                    return row.ApBanksDto.BankNameEn;
                }
            }, {
                "data": null,
                "autoWidth": true,
                "render": function (data, type, row) {
                    if (!row.ApBankAccounts) {
                        return "";
                    }
                    if (lang === 'ar-EG')
                        return row.ApBankAccounts.BankAccountNameAr;
                    return row.ApBankAccounts.BankAccountNameEn;
                }
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('[for="UserIdSearch"]').text()}: ${(parmss.UserId) ? parmss.UserId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblApUserBankAccessPrint_wrapper button.dt-button').click();

            }
        };

        $('#tblApUserBankAccessPrint').dataTable().fnDestroy();
        $('#tblApUserBankAccessPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>
