@using ERP.ResourcePack.AccountsExtend

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="tblInvoices" style="width:100%">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@ArInvoiceSettlementHd.DrSourceLkpId</th>
                                <th>@ArInvoiceSettlementHd.Number</th>
                                <th>@ArInvoiceSettlementHd.Date</th>
                                <th>@ArInvoiceSettlementHd.JobCardNo</th>
                                <th>@ArInvoiceSettlementHd.Amount</th>
                                <th><i class="fas fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

