@using ERP.Web.UI.Controllers.Sales
@using ERP.Web.UI.Models.ViewModels.Sales
@{
    ViewBag.Title = ERP.ResourcePack.Sales.IvSaleHdInQuery.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string formTrigger = ViewBag.trigger;
    long? id = ViewData["Id"] == null ? null : (long?)Convert.ToInt32(ViewData["Id"]);
    var detailObj = ViewData["DetailAsync"] == null ? null : ViewData["DetailAsync"] as IvSaleHdVM;
}

<div class="row clearfix">
    <div class="col-12">
        @Html.Action(nameof(IvSaleHdInQueryController.IvSaleHdInQueryForm), new { id = id, trigger = formTrigger, IvSaleHdVM = detailObj })
    </div>
    <div class="col-12">
        <div class="card">
            <div class="body">
                <ul class="mt-2 nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation">
                        <a href="#details" data-toggle="tab" class="show active">@ERP.ResourcePack.Sales.IvSaleHdInQuery.SaleHdInQueryDetails</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="details">
                        @Html.Action(nameof(IvSaleHdInQueryController.IvSaleHdInQueryFormDetail), new { id = id, trigger = formTrigger })
                        @Html.Action(nameof(IvSaleHdInQueryController.IvSaleHdInQueryDataDetail))
                    </div>
                </div>
                <div class="row clearfix"> <div class="col-md-12 text-center" id="btnContainer"></div></div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <a href="~/IvSaleHd" class="btn btn-danger btn-lg m-l-15 waves-effect">@(ERP.ResourcePack.Common.Settings.BtnClose)</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const primaryEntityKeyId =  @(id == null ? 0 : id);
        const trigger = '@formTrigger';
        let formView = true;
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Html.Partial("~/ViewsScripts/_Sales/IvSaleHdInQuery/IvSaleHdInQueryScripts.cshtml")
    @if (id != null)
    {
        <script>
                $(function () {
                    LoadDetailData();
                   
                });
        </script>
    }
}
