@using ERP.Web.UI.Models.ViewModels.HR
@model HrPersonsVM
@{
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}
<div class="card" style="display:@(formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
            <div class="row clearfix">
                <div class="col-sm-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.Segment1, new { @class = "form-control", @type = "number", @min = 0, @max = 3, @placeholder = "***" })
                            @Html.LabelFor(z => z.Segment1, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.Segment2, new { @class = "form-control", @type = "number", @min = 0, @max = 4, @placeholder = "****" })
                            @Html.LabelFor(z => z.Segment2, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.Segment3, new { @class = "form-control", @type = "number", @min = 0, @max = 7, @placeholder = "*******" })
                            @Html.LabelFor(z => z.Segment3, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.Segment4, new { @class = "form-control", @type = "number", @min = 0, @max = 1, @placeholder = "*" })
                            @Html.LabelFor(z => z.Segment4, new { @class = "form-label" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.IdNumber, new { @class = "form-control", @disabled = "disabled" })
                            @Html.LabelFor(z => z.IdNumber, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.DateOfExpiry, new { @class = "form-control datepicker" })
                            @Html.LabelFor(z => z.DateOfExpiry, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextBoxFor(z => z.CardNo, new { @class = "form-control" })
                            @Html.LabelFor(z => z.CardNo, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.TextAreaFor(z => z.IdentityCardNotes, new { @class = "form-control" })
                            @Html.LabelFor(z => z.IdentityCardNotes, new { @class = "form-label" })
                        </div>
                    </div>
                </div>
            </div>
        <div class="row clearfix text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group m-2">
                    <button id="btnAddIdentityDetailRow" onclick="return AddIdentityDetails()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateIdentityDetailRow" onclick="return UpdateIdentityDetailsRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelIdentityDetailRow" onclick="clearFormIdentityAdding(); $('#btnCancelIdentityDetailRow').hide();$('#btnUpdateIdentityDetailRow').hide();$('#btnAddIdentityDetailRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
