@using ERP.ResourcePack.AidModule
@{
    string insertTrigger = ERP.Front.Helpers.Enums.Common.FormTriggers.Insert.ToString();
    string encInsertTrigger = ERP.Front.Helpers.Enums.Common.EncInsert;
    string insertPermissionStr = TempData["InsertPermission"].ToString();
}
<div class="row no-gutters clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header d-flex justify-content-start align-items-center">
                <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#dataCollapse"></i>
                <h2> <strong>@ScMaintenanceTechnicalReport.Title</strong>  - @ERP.ResourcePack.Common.Settings.Data </h2>
                @if (insertPermissionStr.Contains(ERP.Authorization.PermissionNames.Pages_ScMaintenanceTechnicalReport_Insert))
                {
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="~/ScMaintenanceTechnicalReport/FormView?id=&t=@encInsertTrigger" class="btn btn-success btn-border-radius btn-lg m-l-15 waves-effect">@ERP.ResourcePack.Common.Settings.BtnAddNew</a>
                        </li>
                    </ul>
                }
            </div>
            <div class="body collapse show" id="dataCollapse">
                <div class="table-responsive">
                    <div id="tblLoader" style="display:none">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                    <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblScMaintenanceTechnicalReport">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@ScMaintenanceTechnicalReport.TechnicalReportNumber</th>
                                <th>@ScMaintenanceTechnicalReport.TechnicalReportDate</th>
                                <th>@ScMaintenanceTechnicalReport.PortalRequestId</th>
                                <th>@ScMaintenanceTechnicalReport.Details_PortalUser_Name</th>
                                <th>@ScMaintenanceTechnicalReport.StatusLkpId</th>
                                <th><i class="fas fa-cogs"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>