@using ERP.Web.UI.Controllers.HR
@using ERP.Web.UI.Models.ViewModels.CRM.meetings
@{
    ViewBag.Title = ERP.ResourcePack.CRM.Meetings.activityMeeting.MasterTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formTrigger = ViewBag.trigger;

    long? id = ViewData["Id"] == null ? null : (long?)Convert.ToInt32(ViewData["Id"]);

    var detailObj = ViewData["DetailAsync"] == null ? null : ViewData["DetailAsync"] as ActivityMeetingVM;

    detailObj = detailObj ?? new ActivityMeetingVM
    {
        CrmLeadsPersonsId = ViewBag.LeadId,
        CrmLeadsPersonsVal = ViewBag.Leadname,
        RelatedToLkpId = ViewBag.RelLkpId,
        RelatedToLkpVal = ViewBag.RelLkpVal
    };
}

<div class="row clearfix">
    <div class="col-12">
        @Html.Action(nameof(ERP.Web.UI.Controllers.CRM.ActivityMeetingController.ActivityMeetingForm), new { id = id, trigger = formTrigger, ActivityMeetingVM = detailObj })
    </div>

    <div class="col-12">

        @Html.Action(nameof(ERP.Web.UI.Controllers.CRM.ActivityMeetingController.ActivityMeetingData))

    </div>

    <div class="card-body">
        <div class="text-center">

            @if (detailObj.RelatedToLkpId == 11119)
            {
                <a href="~/CrmLeadsPersons" class="btn btn-danger btn-lg m-l-15 waves-effect">@(ERP.ResourcePack.Common.Settings.BtnClose)</a>

            }
            else if (detailObj.RelatedToLkpId == 11121)
            {
                <a href="~/CrmContact" class="btn btn-danger btn-lg m-l-15 waves-effect">@(ERP.ResourcePack.Common.Settings.BtnClose)</a>

            } else
            {
            <a href="~/CrmQueries" class="btn btn-danger btn-lg m-l-15 waves-effect">@(ERP.ResourcePack.Common.Settings.BtnClose)</a>
            }
        </div>
    </div>

    <div class="col-12 d-none " id="DetaisDiv">

            <div class="body">
                <ul class="mt-2 nav nav-tabs tab-nav-right" role="tablist">
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="units">
                        @Html.Action(nameof(ERP.Web.UI.Controllers.CRM.ActivityMeetingController.ActivityMeetingFormDetail), new { id = id, trigger = formTrigger })
                        @Html.Action(nameof(ERP.Web.UI.Controllers.CRM.ActivityMeetingController.ActivityMeetingDataDetail))
                    </div>
                </div>
            </div>

    </div>


</div>


@section scripts{
   

    <script>
        const primaryEntityKeyId =  @(id == null ? 0 : id);
        const trigger = '@formTrigger';
    </script>

    <script>

        $("#Detailsmodal").click(function () {
            GetDetailsFormModal('@formTrigger', '#DetaisDiv', '@ViewBag.Title');


            $('#RelatedToLkpId1').select2(ReturnSelect2ObjectForLkpsTypes('CrmLeadsPersonsType'));
            $('#CrmLeadsPersonsId1').select2({
                ajax: {
                    url: `${baseUrl}/ActivityCall/GetCrmLeadsPersons_ByTypeSelect2`,
                    dataType: 'json',
                    headers: {
                        'Authorization': `Bearer ${$_token}`
                    },
                    data: function (params) {
                        params.page = params.page || 1;
                        return {
                            TypeLkpId: $('#RelatedToLkpId1').find(':selected').val(),
                            pageSize: pageSize,
                            pageNumber: params.page,
                            searchTerm: params.term,
                            lang: lang
                        };
                    },
                    processResults: function (data, params) {

                        params.page = params.page || 1;

                        return {
                            results: data.result.results,
                            pagination: {
                                more: (params.page * pageSize) < data.result.total
                            }
                        };
                    }
                },
                placeholder: select2Placeholder,
                minimumInputLength: 0,
                allowClear: true,
                language: select2Lang
            });

        })



    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @Html.Partial("~/ViewsScripts/_CRM/ActivityMeetingScripts.cshtml")

    @*<script>
            if (!primaryEntityKeyId) {
                GetAdjustmentHdAdjustmentStoredEntryType();
            }
        </script>*@
    @if (id != null)
    {
        <script>
            $(function () {
                LoadUnitsData();
            });



                                                //ChangeAdjustmentTypeLkpLabelText($(`#AdjustmentTypeLkpId`).find(':selected').val());
        </script>
    }
}

