@using ERP.Web.UI.Controllers.PmPropertiesModule
@using ERP.Web.UI.Models.ViewModels.PmPropertiesModule
@{
    ViewBag.Title = ERP.ResourcePack.PmPropertiesModule.PmProperties.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formTrigger = ViewBag.trigger;

    long? id = ViewData["Id"] == null ? null : (long?)Convert.ToInt32(ViewData["Id"]);

    var detailObj = ViewData["DetailAsync"] == null ? null : ViewData["DetailAsync"] as PmPropertiesVM;
}

<div class="row clearfix">
    <div class="col-12">
        @Html.Action(nameof(PmPropertiesController.PmPropertiesForm), new { id = id, trigger = formTrigger, PmPropertiesVM = detailObj })
    </div>
    <div class="col-12">
        <div class="card">
            <div class="body">
                <ul class="mt-2 nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation">
                        <a href="#units" data-toggle="tab" class="show active">@ERP.ResourcePack.PmPropertiesModule.PmProperties.Title1</a>
                    </li>
                    <li role="presentation">
                        <a href="#revenues" data-toggle="tab" class="show">@ERP.ResourcePack.PmPropertiesModule.PmProperties.Title2</a>
                    </li>
                    <li role="presentation">
                        <a href="#attachments" data-toggle="tab" class="show">@ERP.ResourcePack.PmPropertiesModule.PmProperties.Title3</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="units">
                        @Html.Action(nameof(PmPropertiesController.PmPropertiesFormDetail), new { id = id, trigger = formTrigger })
                        @Html.Action(nameof(PmPropertiesController.PmPropertiesDataDetail))
                    </div>
                    <div role="tabpanel" class="tab-pane fade in  " id="revenues">
                        @Html.Action(nameof(PmPropertiesController.PmPropertiesFormDetail2), new { id = id, trigger = formTrigger, glAccHeadersVMs = ViewData["ListGlAccHeadersVM"] == null ? new List<ERP.Web.UI.Models.ViewModels.Accounts.GlAccHeadersVM>() : ViewData["ListGlAccHeadersVM"] as List<ERP.Web.UI.Models.ViewModels.Accounts.GlAccHeadersVM> })
                        @Html.Action(nameof(PmPropertiesController.PmPropertiesDataDetail2))
                    </div>
                    <div role="tabpanel" class="tab-pane fade in  " id="attachments">
                        @if (formTrigger != ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString())
                        {
                            @Html.Partial("_AttachmentForm")
                        }
                        @Html.Partial("_AttachmentsData")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    @if (formTrigger != ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString())
                    {
                        <button type="submit" id="btnSubmition" class="btn btn-info btn-lg m-l-15 waves-effect">@(formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Insert.ToString() ? ERP.ResourcePack.Common.Settings.BtnSave : ERP.ResourcePack.Common.Settings.BtnUpdate)</button>
                        <div id="submitLoader" style="display:none">
                            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        </div>
                    }

                    <a href="~/PmProperties" class="btn btn-danger btn-lg m-l-15 waves-effect">@(ERP.ResourcePack.Common.Settings.BtnClose)</a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ModalAttachment")

@section scripts{
    <script>
        const primaryEntityKeyId =  @(id == null ? 0 : id);
        const trigger = '@formTrigger';
        let formView = true;
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Html.Partial("~/ViewsScripts/_PmPropertiesModule/PmProperties/PmPropertiesScripts.cshtml")
    @Html.Partial("~/ViewsScripts/GlAccDetails/GlAccDetailsScripts.cshtml", ViewData["repeatTrigger"] = "")
    @Html.Partial("~/ViewsScripts/GlAccDetails/GlAccDetailsScripts.cshtml", ViewData["repeatTrigger"] = "advance")
    @Html.Partial("~/ViewsScripts/GlAccDetails/GlAccDetailsScriptManager.cshtml")
    @if (id != null)
    {
        <script>
            $(function () {

                LoadAttachments();
                LoadRevenuesData();
                LoadUnitsData();
            });
        </script>
    }
}

