<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div>
                <div class="table-responsive">
                    <div id="tblLoaderLine" style="display:none">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                    <table class=" dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblUnits" cellspacing="0">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.PmUnitTypeLkpId</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.PmUnitDescLkpId</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.UnitNo</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.FloorLevel</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.StatusLkpId</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.AreaSize</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.YearlyRent</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.ViewLkpId</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.FinishesLkpId</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.ElectricityNumber</th>
                                <th>@ERP.ResourcePack.PmPropertiesModule.PmProperties.SewerageNumber</th>
                                <th><i class="fas fa-cogs"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
