@using ERP.Web.UI.Models.ViewModels.AccountsExtend
@model GlAccMappingHdVM
@{
    string formTrigger = ViewBag.trigger;
    string lang = Request.Cookies["Lang"] == null ? "ar-EG" : Request.Cookies["Lang"].Value.ToString();
    bool isFormDetail = Model != null && formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString();
}
<div class="card" style="display:@(formTrigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.TrNo, new { @class = "form-control", @type="number", @min = 0 })
                        @Html.LabelFor(z => z.TrNo, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.TrName, new { @class = "form-control" })
                        @Html.LabelFor(z => z.TrName, new { @class = "form-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group m-2">
                    <button id="btnAddDetailRow" onclick="return AddGlAccMappingTrDetail()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateDetailRow" onclick="return UpdateGlAccMappingTrDetailRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelDetailRow" onclick="clearFormDetAdding(); $('#btnCancelDetailRow').hide();$('#btnUpdateDetailRow').hide();$('#btnAddDetailRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
