@using ERP.ResourcePack.SpGuarantees
<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="">
                        <div class="table-responsive">
                            <table class="dataTable dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblSpCaseEditData">
                                <thead>
                                    <tr>
                                        <th><i class="fas fa-hashtag"></i></th>
                                        <th>@SpCaseEditData.ContractNumber</th>
                                        <th>@SpCaseEditData.StartDate</th>
                                        <th>@SpCaseEditData.BeneficentNumber</th>
                                        <th>@SpCaseEditData.BeneficentName</th>
                                        <th>@SpCaseEditData.CaseNumber</th>
                                        <th>@SpCaseEditData.CaseName</th>
                                        <th>@SpCaseEditData.BeneficentBank</th>
                                        <th>@SpCaseEditData.AccountOwner</th>
                                        <th>@SpCaseEditData.AccountNumber</th>
                                        <th>@SpCaseEditData.NameFor</th>
                                        <th>@SpCaseEditData.Amount</th>
                                        @*<th>@SpCaseEditData.OperationDate</th>*@
                                        <th class="all"><i class="fas fa-cog"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
