@using ERP.Web.UI.Controllers.Warehouses
@using ERP.Authorization;
@{
    string permissionsStr = TempData["Permissions"].ToString();
}
<script>
    const _mainController = "IvItems"

    $(function () {
        LoadDataGrid();
        $('#tblIvItemsPrint thead').html($('#tblIvItems thead').html());
        $('#tblIvItemsPrint thead tr :last-child').remove();
        $('#IvItems').addClass('active');
        $('#main-modal #TaxPercentageLkpId').parent('.form-line').addClass('focused');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(IvItemsController.LoadDataGrid)`;
    const _tblSelector = $('#tblIvItems');

    const _permissions = '@permissionsStr';
    const _updatePermission = '@PermissionNames.Pages_IvItems_Update';
    const _deletePermission = '@PermissionNames.Pages_IvItems_Delete';

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                LoadDataGrid();

                _mainModal.modal('hide');

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                LoadDataGrid();

                _mainModal.modal('hide');

                toastr.success(response.customRestResult.message);
            }

        } else {
               toastr.error(response.customRestResult.message);
        }
    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        downBtnLoader();
    };

    const LoadDataGrid = function () {

        const parms = {
            IvItemsTypesConfigureId: $('#IvItemsTypesConfigureIdSearch').val(),
            IvUnitId: $('#IvUnitIdSearch').val(),
            IvItemNumber: $('#searchBox #ItemNumber').val(),
            IvItemName: $('#searchBox #ItemName').val(),
            IvItemBarcode: $('#searchBox #ItemBarcode').val()
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "ItemNumber",
                "name": "ItemNumber",
                "autoWidth": true
            },
            {
                "data": "ItemName",
                "name": "ItemName",
                "autoWidth": true
            },
            {
                "data": "ItemBarcode",
                "name": "ItemBarcode",
                "autoWidth": true
            },
            {
                "data": "ItemQtys",
                "name": "ItemQtys",
                "autoWidth": true
            },
            {
                "data": "AvgCost",
                "name": "AvgCost",
                "autoWidth": true
            },
            {
                "data": "LastCost",
                "name": "LastCost",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "IvItemsTypesConfigureId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.IvItemsTypesConfigure ? (lang === 'ar-EG' ? row.IvItemsTypesConfigure.NameAr : row.IvItemsTypesConfigure.NameEn) : '';
                }
            },
            {
                "data": null,
                "name": "IvUnitId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.IvUnits ? (lang === 'ar-EG' ? row.IvUnits.UnitName : row.IvUnits.UnitName) : '';
                }
            },
            {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(IvItemsController.IvItemsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(IvItemsController.Delete)`;

                    let formTitle = '@ERP.ResourcePack.Warehouses.IvItems.Title', btns = '';

                    if (_permissions.includes(_updatePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Update','${formAction}','${formTitle}');GetItemsTree(${row.Id})" title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="javascript:void(0)" onclick="AjaxController.GetFormModal(${row.Id},'@ERP.Front.Helpers.Enums.Common.FormTriggers.Show','${formAction}','${formTitle}');GetItemsTree(${row.Id})" title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission)) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');" title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                    const _auditedPermission = '@PermissionNames.Pages_IvItems_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }

                    return btns;
                }
            }
        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "pageLength":100,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () { }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }

        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });


    };



     $('#IvItemsTypesConfigureIdSearch').select2(ReturnSelect2ObjectDefault(`${baseUrl}/IvItemsTypesConfigure/GetIvItemsTypesConfigureWithParentSelect2`));
    $('#IvUnitIdSearch').select2(ReturnSelect2ObjectDefault(`${baseUrl}/IvUnits/GetIvUnitsSelect2`));
    
    

    function printExc() {
        $('.page-loader-wrapper').show();
        $('#tblIvItemsPrint_wrapper').parent().addClass('d-none');
        const parmss = {
            IvItemsTypesConfigureId: $('#IvItemsTypesConfigureIdSearch').val(),
            IvUnitId: $('#IvUnitIdSearch').val(),
            length: 1000000
        };


        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "ItemNumber",
                "name": "ItemNumber",
                "autoWidth": true
            },
            {
                "data": "ItemName",
                "name": "ItemName",
                "autoWidth": true
            },
            {
                "data": "ItemBarcode",
                "name": "ItemBarcode",
                "autoWidth": true
            },
            {
                "data": "ItemQtys",
                "name": "ItemQtys",
                "autoWidth": true
            },
            {
                "data": "AvgCost",
                "name": "AvgCost",
                "autoWidth": true
            },
            {
                "data": "LastCost",
                "name": "LastCost",
                "autoWidth": true
            },
            {
                "data": null,
                "name": "IvItemsTypesConfigureId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.IvItemsTypesConfigure ? (lang === 'ar-EG' ? row.IvItemsTypesConfigure.NameAr : row.IvItemsTypesConfigure.NameEn) : '';
                }
            },
            {
                "data": null,
                "name": "IvUnitId",
                "autoWidth": true,
                "render": function (d, t, row) {
                    return row.IvUnits ? (lang === 'ar-EG' ? row.IvUnits.UnitName : row.IvUnits.UnitName) : '';
                }
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('[for="IvItemsTypesConfigureId"]').text()}: ${(parmss.IvItemsTypesConfigureId) ? parmss.IvItemsTypesConfigureId : '--'}, ${$('[for="IvUnitId"]').text()}: ${(parmss.IvUnitId) ? parmss.IvUnitId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblIvItemsPrint_wrapper button.dt-button').click();
                $('#tblIvItemsPrint_wrapper').parent().addClass('d-none');

            }
        };

        $('#tblIvItemsPrint').dataTable().fnDestroy();
        $('#tblIvItemsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>
