@using ERP.Web.UI.Controllers.CRM
@using ERP.Authorization;
@{
    string encUpdateTrigger = ERP.Front.Helpers.Enums.Common.EncUpdate;
    string encShowTrigger = ERP.Front.Helpers.Enums.Common.EncShow;
    string permissionsStr = TempData["Permissions"].ToString();
}



<script>
    const _mainController = "CrmDeals", _apiAppService = "CrmDeals";

    $(function () {
        LoadDataGrid();
        $('#tblCrmDealsPrint thead').html($('#tblCrmDeals thead').html());
        $('#tblCrmDealsPrint thead tr :last-child').remove();
        $('#CRM_Deals').addClass('active');
    });

    const _loadDataUrl = `${$PrefixHostName}/${_mainController}/@nameof(CrmDealsController.LoadDataGrid)`;
    const _tblSelector = $('#tblCrmDeals');
    const _mainForm = $('#mainForm');

    const _permissions = '@permissionsStr';

    const _updatePermission = '@PermissionNames.Pages_CrmDeals_Insert';
    const _deletePermission = '@PermissionNames.Pages_CrmDeals_Delete';


    $('#btnSubmition').on('click', function () {
        if (formValidator()) {
            _mainForm.submit();
        }
    });

    var OnBegin = function (response) {
        fireBtnLoader();
    };

    var OnSuccess = function (response) {

        if (response.success) {

            if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Insert') {

                toastr.success(response.customRestResult.message);

                setTimeout(function () {
                    window.location.href = $PrefixHostName + '/CrmDeals';
                }, 200);

            } else if (response.customRestResult.trigger === '@ERP.Front.Helpers.Enums.Common.FormTriggers.Update') {

                toastr.success(response.customRestResult.message);

                setTimeout(function () {
                    window.location.href = $PrefixHostName + '/CrmDeals';
                }, 200);
            }

        } else {
            toastr.error(response.customRestResult.message);
            $('#btnSubmition').prop('disabled', false);
        }

    };

    var OnComplete = function (response) {
        downBtnLoader();
    };

    var OnFailure = function (response) {
        toastr.error(response);
        downBtnLoader();
        $('#btnSubmition').prop('disabled', false);
    };

    const LoadDataGrid = function () {

        const parms = {
            DealDate: $('#DealDate').val(),
            DealName: $('#DealName').val(),
            DealTypeLkpId: $('#searchBox #DealTypeLkpId').find(':selected').val(),
            StageLkpID: $('#searchBox #StageLkpID').find(':selected').val(),
            CrmLeadsPersonsId: $('#searchBox #CrmLeadsPersonsId').find(':selected').val(),
            Company: $('#Company').val()

        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "DealName",
                "name": "DealName",
                "autoWidth": true
            },
            {
                "data": "DealDate",
                "name": "DealDate",
                "autoWidth": true
            },
            {
                "data": "DealTypeLkpval",
                "name": "DealTypeLkpval",
                "autoWidth": true
            },



            {
                "data": "StageLkpVal",
                "name": "StageLkpVal",
                "autoWidth": true
            },
            {
                "data": "CrmLeadsPersonsVal",
                "name": "CrmLeadsPersonsVal",
                "autoWidth": true
            },
            {
                "data": "Company",
                "name": "Company",
                "autoWidth": true
            },

              {
                "data": null,
                "sortable": false,
                "render": function (data, type, row) {

                    let formAction = `${$PrefixHostName}/${_mainController}/@nameof(CrmDealsController.CrmDealsForm)`;
                    let DeleteAction = `${$PrefixHostName}/${_mainController}/@nameof(CrmDealsController.Delete)`;

                    let btns = '';

                    if (_permissions.includes(_updatePermission) ) {
                        btns += `<a href="${$PrefixHostName}/CrmDeals/FormView?id=${row.EncId}&t=@encUpdateTrigger"  title="@ERP.ResourcePack.Common.Settings.Edit"><i class="mx-2 fas fa-edit text-info"></i></a>`;
                    }

                    btns += `<a href="${$PrefixHostName}/CrmDeals/FormView?id=${row.EncId}&t=@encShowTrigger"  title="@ERP.ResourcePack.Common.Settings.Show"><i class="mx-2 fas fa-eye text-info"></i></a>`;

                    if (_permissions.includes(_deletePermission) ) {
                        btns += `<a href="javascript:void(0)" onclick="AjaxController.DeleteMainTableRow(${row.Id},'${DeleteAction}');"  title="@ERP.ResourcePack.Common.Settings.Delete"><i class="mx-2 fas fa-trash-alt text-danger"></i></a>`;
                    }

                     const _auditedPermission = '@PermissionNames.Pages_CrmDeals_Audit';

                    if (_permissions.includes(_auditedPermission)) {

                        row.permission = _auditedPermission;

                        btns += GetAuditedButton(row);
                    }


                    return btns;
                }
            }


        ];

        const dtObj = {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "language": dataTableLang,
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parms,
                "complete": function () { }
            },
            "columns": columns,
            "initComplete": function () {
                $('[data-toggle="tooltip"]').tooltip();
            }

        };

        _tblSelector.dataTable().fnDestroy();
        _tblSelector.DataTable(dtObj).on('draw', function () { $('[data-toggle="tooltip"]').tooltip(); });

        setTimeout(function () {
            $(".sorting_1").removeAttr('colspan');
        }, 500);
    };

    $('#DealTypeLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.CrmDealsType.ToString()'));
    $('#StageLkpID').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.CrmDealsStage.ToString()'));

    $('#LeadSourceLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.CrmLeadsPersonsSource.ToString()'));
    $('#CrmLeadsPersonsId').select2(ReturnSelect2ObjectDefault(`${baseUrl}/CrmDeals/GetCrmLeadsPersons_ContactSelect2`));




     const formValidator = function () {


         if (!$('#DealName').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.DealName ' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#ClosingDate').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.ClosingDate ' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#Amount').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.Amount ' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#StageLkpID').find(':selected').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.StageLkpID' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#DealTypeLkpId').find(':selected').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.DealTypeLkpId' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#LeadSourceLkpId').find(':selected').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.LeadSourceLkpId' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }

         if (!$('#CrmLeadsPersonsId').find(':selected').val()) {
            toastr.warning('@ERP.ResourcePack.CRM.Deals.deals.CrmLeadsPersonsId ' + ' : ' + '@ERP.ResourcePack.Common.Settings.Required')
            return false;
         }








        return true;
    };


    function printExc() {
        $('.page-loader-wrapper').show();
        $('#tblCrmDealsPrint_wrapper').parent().addClass('d-none');
        const parmss = {
            DealDate: $('#DealDate').val(),
            DealName: $('#DealName').val(),
            DealTypeLkpId: $('#searchBox #DealTypeLkpId').find(':selected').val(),
            StageLkpID: $('#searchBox #StageLkpID').find(':selected').val(),
            CrmLeadsPersonsId: $('#searchBox #CrmLeadsPersonsId').find(':selected').val(),
            length: 1000000
        };

        const columns = [
            {
                "data": "result.data.id",
                'render': function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "DealName",
                "name": "DealName",
                "autoWidth": true
            },
            {
                "data": "DealDate",
                "name": "DealDate",
                "autoWidth": true
            },
            {
                "data": "DealTypeLkpval",
                "name": "DealTypeLkpval",
                "autoWidth": true
            },



            {
                "data": "StageLkpVal",
                "name": "StageLkpVal",
                "autoWidth": true
            },
            {
                "data": "CrmLeadsPersonsVal",
                "name": "CrmLeadsPersonsVal",
                "autoWidth": true
            }
        ];

        const dtObj = {
            "language": dataTableLang,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'excel',
                    messageTop: `${$('#DealDate').siblings().text()}: ${(parmss.DealDate) ? parmss.DealDate : '--'}, ${$('#DealName').siblings().text()}: ${(parmss.DealName) ? parmss.DealName : '--'}, ${$('[for="DealTypeLkpId"]').text()}: ${(parmss.DealTypeLkpId) ? parmss.DealTypeLkpId : '--'}, ${$('[for="StageLkpID"]').text()}: ${(parmss.StageLkpID) ? parmss.StageLkpID : '--'}, ${$('[for="CrmLeadsPersonsId"]').text()}: ${(parmss.CrmLeadsPersonsId) ? parmss.CrmLeadsPersonsId : '--'}`
                },

            ],
            "ajax": {
                "url": _loadDataUrl,
                "type": "POST",
                "datatype": "json",
                "data": parmss,
                "complete": function (d) {
                    _tblLoader.hide();
                }
            },
            "columns": columns,

            "initComplete": function () {
                $('#tblCrmDealsPrint_wrapper button.dt-button').click();
                $('#tblCrmDealsPrint_wrapper').parent().addClass('d-none');

            }
        };

        $('#tblCrmDealsPrint').dataTable().fnDestroy();
        $('#tblCrmDealsPrint').DataTable(dtObj).on('buttons-processing', function (e, indicator) { if (!indicator) { $('.page-loader-wrapper').hide() } });


    }

</script>
