@using ERP.ResourcePack.HR
@{
    ViewBag.Title = HrReports.PyPayrollReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header d-flex justify-content-start align-items-center">
        <i class="fas fa-2x fa-chevron-down down-arr mr-2" data-toggle="collapse" data-target="#searchCollapse"></i>
        <h2><strong>@HrReports.PyPayrollReport</strong></h2>
    </div>
    <div class="body  collapse show" id="searchCollapse">
        <div class="row clearfix">
            <div class="col-sm-6">
                <label class="form-label">@HrReports.PyPayrollTypes</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        <select id="PyPayrollTypesId" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="form-label">@HrReports.GlPeriodsDetails</label>
                <div class="form-group form-float">
                    <div class="form-group">
                        <select id="PeriodId" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12 text-center">
                <div class="form-group">
                    <button id="btnPrint" onclick="return PrintPyPayrollReport()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.Print</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ReportModal")
@section scripts{
    @Html.Partial("~/ViewsScripts/_HrReports/PyPayrollReportScripts.cshtml")
}