@using ERP.Web.UI.Models.ViewModels.AidModule
@model PortalUsersVM

<div class="card" style="display:@(ViewBag.trigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.IncomeSourceName, new { @class = "form-control" })
                        @Html.LabelFor(z => z.IncomeSourceName, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.MonthlyIncomeAmount, new { @class = "form-control" })
                        @Html.LabelFor(z => z.MonthlyIncomeAmount, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group m-2">
                    <button id="btnAddIncomesRow" onclick="return AddIncomesDetail()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateIncomesRow" onclick="return UpdateIncomesDetailRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelIncomesRow" onclick="clearFormAdding(); $('#btnCancelDetailRow').hide();$('#btnUpdateIncomesRow').hide();$('#btnAddIncomesRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
