@using ERP.Web.UI.Models.ViewModels.AidModule
@model PortalUsersVM

<div class="card" style="display:@(ViewBag.trigger == ERP.Front.Helpers.Enums.Common.FormTriggers.Show.ToString() ? "none":"block" ) ">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.RelName, new { @class = "form-control" })
                        @Html.LabelFor(z => z.RelName, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.RelIdNumber, new { @class = "form-control idNumber" })
                        @Html.LabelFor(z => z.RelIdNumber, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextBoxFor(z => z.Employer, new { @class = "form-control" })
                        @Html.LabelFor(z => z.Employer, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(z => z.RelGender, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.RelGender, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-3">
                @Html.LabelFor(z => z.RelativesTypeLkpId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.RelativesTypeLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(z => z.RelNationality, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.RelNationality, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(z => z.RelQualification, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.RelQualification, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(z => z.MaritalStatusRelativesLkpId, new { @class = "form-label" })
                <div class="form-group form-float">
                    <div class="form-group">
                        @Html.DropDownListFor(z => z.MaritalStatusRelativesLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextAreaFor(z => z.Notes, new { @class = "form-control" })
                        @Html.LabelFor(z => z.Notes, new { @class = "form-label" })
                    </div>
                </div>
            </div>
        </div>
 
        <div class="row clearfix">
            <div class="col-sm-2">
                <div class="form-group m-2">
                    <button id="btnAddDetailRow" onclick="return AddFndUserRelatives()" class="btn btn-success">@ERP.ResourcePack.Common.Settings.BtnAddNew</button>
                    <button style="display:none;" id="btnUpdateDetailRow" onclick="return UpdateFndUserRelativesRow()" class="btn btn-info">@ERP.ResourcePack.Common.Settings.BtnUpdate</button>
                    <button style="display:none;" id="btnCancelDetailRow" onclick="clearFormAdding(); $('#btnCancelDetailRow').hide();$('#btnUpdateDetailRow').hide();$('#btnAddDetailRow').show();" class="btn btn-danger">@ERP.ResourcePack.Common.Settings.BtnCancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
