@using ERP._System._AffliateAccount.Dto
@model AffliateAccountDto
@{
    ViewBag.Title = "Affliate Account";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .main-box {
        max-width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-5">
        <div class="p-2" style="margin-top:5rem">
            <img class="img-fluid" alt="" src="~/AssetsPack/SystemLogos/logo Final.png">
            <hr />
        </div>
        <div class="p-4 text-center">
            <a href="@Url.Action("ChangeLanguage", "Login",new { area = string.Empty })" class="btn btn-outline-primary">
                @ERP.ResourcePack.Common.Settings.Lang
            </a>
        </div>
    </div>
    <div class="col-md-7 b-left">
        @if (TempData["FailedMessage"] != null && TempData["FailedMessage"].ToString() != string.Empty)
        {
            <p class="alert alert-danger text-center">
                @TempData["FailedMessage"].ToString()
            </p>
        }

        @using (Html.BeginForm("AffliateAccount", "Home", FormMethod.Post, new { @class = "validate-form" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <h2 class="">@ERP.ResourcePack.Common.Settings.AffliateAccount</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Email">
                        @Html.TextBoxFor(z => z.Email, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.Email })
                        @Html.ValidationMessageFor(z=>z.Email )
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Name">
                        @Html.TextBoxFor(z => z.Name, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.Name })
                        @Html.ValidationMessageFor(z => z.Name)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Mobile">
                        @Html.TextBoxFor(z => z.Mobile, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.Mobile })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Tel">
                        @Html.TextBoxFor(z => z.Tel, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.Tel })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter password">
                        <div class="form-line">
                            <label class="col-md-12 control-label">@ERP.ResourcePack.Common.Settings.CountryLkpId</label>
                            @Html.DropDownListFor(z => z.CountryLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter City">
                        @Html.TextBoxFor(z => z.City, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.City })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter City">
                        @Html.TextBoxFor(z => z.Region, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.Region })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Language">
                        <div class="form-line">
                            <label class="col-md-12 control-label">@ERP.ResourcePack.Common.Settings.LanguageLkpId</label>
                            @Html.DropDownListFor(z => z.LanguageLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter Bank">
                        <div class="form-line">
                            <label class="col-md-12 control-label">@ERP.ResourcePack.Common.Settings.BankLkpId</label>
                            @Html.DropDownListFor(z => z.BankLkpId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validate-input" data-validate="Enter BankAccountNo">
                        @Html.TextBoxFor(z => z.BankAccountNo, new { @class = "form-control", @placeholder = ERP.ResourcePack.Common.Settings.BankAccountNo })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">@ERP.ResourcePack.Common.Settings.Register</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section scripts{
    <script src="~/AssetsPack/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.min.js"></script>
    <script>
        $('#CountryLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.Country.ToString()'));
        $('#LanguageLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.Language.ToString()'));
        $('#BankLkpId').select2(ReturnSelect2ObjectForLkpsTypes('@ERP.Front.Helpers.Enums.Common.FndLkpsTypes.Banks.ToString()'));
    </script>
}